@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@font-face {
  font-family: "dvg-abc";
  src: url("../fonts/dvg-abc.ttf?8yh791") format("truetype"), url("../fonts/dvg-abc.woff?8yh791") format("woff"), url("../fonts/dvg-abc.svg?8yh791#dvg-abc") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 2.125em;
}
@media (min-height: 43.75em) {
  h1 {
    font-size: 2.375em;
  }
}
@media (min-height: 56.25em) {
  h1 {
    font-size: 2.75em;
  }
}

h2 {
  font-size: 1.3125em;
}
@media (min-height: 43.75em) {
  h2 {
    font-size: 1.375em;
  }
}
@media (min-height: 56.25em) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.25em;
}
@media (min-height: 43.75em) {
  h3 {
    font-size: 1.25em;
  }
}
@media (min-height: 56.25em) {
  h3 {
    font-size: 1.25em;
  }
}

h4, h5, h6 {
  font-size: 1.125em;
}
@media (min-height: 43.75em) {
  h4, h5, h6 {
    font-size: 1.125em;
  }
}
@media (min-height: 56.25em) {
  h4, h5, h6 {
    font-size: 1.125em;
  }
}

ul.inline:after, .r-header > .inner:after, .r-footer-top > .inner:after,
.r-footer-bottom > .inner:after, .footer-line:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.group-buttons .field:first-child .btn-small {
  display: inline-block;
  max-width: 28.75em;
  width: auto;
  padding: .375em 1em;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: #ff7f00;
  color: #fff;
  vertical-align: top;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  -webkit-appearance: none;
}
.group-buttons .field:first-child .btn-small:hover, .group-buttons .field:first-child .btn-small:focus {
  background-color: #cc6600;
  color: #fff;
}
.group-buttons .field:first-child .btn-small:active {
  background-color: #994c00;
  color: #fff;
}

html.js .js-hide,
.element-hidden {
  display: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  color: #ff7f00;
}
h1 a {
  color: #ff7f00;
}
h1 a:hover, h1 a:focus {
  color: #cc6600;
}
h1 a:active {
  color: #994c00;
}

h2 {
  color: #395e72;
}
h2 a {
  color: #395e72;
}
h2 a:hover, h2 a:focus {
  color: #284250;
}
h2 a:active {
  color: #17262e;
}

h3 {
  color: #395e72;
}
h3 a {
  color: #395e72;
}
h3 a:hover, h3 a:focus {
  color: #284250;
}
h3 a:active {
  color: #17262e;
}

h4, h5, h6 {
  color: #395e72;
}
h4 a, h5 a, h6 a {
  color: #395e72;
}
h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  color: #284250;
}
h4 a:active, h5 a:active, h6 a:active {
  color: #17262e;
}

a {
  color: #ff7f00;
}
a:hover, a:focus {
  color: #cc6600;
}
a:active {
  color: #994c00;
}

p {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

img, object, video {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

img {
  border: none;
}

hr {
  margin: 1.3em 0;
  height: 1px;
  border: none;
  background: #808080;
}

ul, ol {
  list-style-position: outside;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.3em;
}

li ul, li ol {
  margin: 0 1.625em;
}

ul {
  list-style-type: square;
}
ul li {
  margin-left: 1.4em;
  padding-left: .3em;
}
ul.inline {
  margin-bottom: 0;
}
ul.inline li {
  float: left;
}

ol {
  list-style-type: decimal;
}
ol li {
  margin-left: 2em;
  padding-left: .3em;
}

dl dd {
  margin-left: 1.625em;
}

table {
  border: 1px solid #808080;
  border-collapse: collapse;
  margin-bottom: 1.3em;
  width: 100%;
}
table th {
  text-align: left;
  font-weight: normal;
}
table th,
table tr,
table td {
  border: 1px solid #808080;
  padding: .5625em .3125em;
  vertical-align: text-top;
}
table p {
  margin-top: 0;
  margin-bottom: 0;
}

.region > .inner {
  max-width: 64.375em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 43.75em) {
  .region > .inner {
    max-width: 65em;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}
@media screen and (min-width: 120em) {
  .region > .inner {
    max-width: 65.625em;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

.node > .content,
.file > .content {
  position: relative;
}

.block-logo {
  float: left;
  width: 49%;
}

.block-system {
  max-width: 100%;
}

.field {
  margin-bottom: 1.1em;
}
.field.field-type-file .field-item {
  margin-bottom: 1em;
}
.field .embed .field {
  margin-bottom: 0;
}
.group-buttons .field .btn-small {
  font-weight: 600;
  margin: 2.667em 0;
}
.group-buttons .field:first-child .btn-small {
  font-weight: normal;
  text-decoration: none;
}

.r-header {
  background-color: #ddd;
  margin-bottom: 1em;
}
.r-header > .inner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.r-footer-top,
.r-footer-bottom {
  background-color: #ddd;
}
.r-footer-top > .inner,
.r-footer-bottom > .inner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-line {
  display: block;
  margin-bottom: 1.4em;
}
@media screen and (min-width: 32.8125em) {
  .footer-line {
    margin-bottom: 1em;
  }
  .footer-line p {
    display: inline-block;
    float: left;
    margin-bottom: 0;
  }
  .footer-line p + p {
    margin-left: 0.3em;
  }
  .footer-line p + p + p {
    margin-left: 0;
  }
  .footer-line p + p + p:before {
    content: ",";
    padding-right: 5px;
  }
}

/*# sourceMappingURL=editor.css.map */
