@charset "UTF-8";
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

@font-face {
  font-family: "dvg-abc";
  src: url("../fonts/dvg-abc.ttf?8yh791") format("truetype"), url("../fonts/dvg-abc.woff?8yh791") format("woff"), url("../fonts/dvg-abc.svg?8yh791#dvg-abc") format("svg");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-size: 2.125em;
}
@media (min-height: 43.75em) {
  h1 {
    font-size: 2.375em;
  }
}
@media (min-height: 56.25em) {
  h1 {
    font-size: 2.75em;
  }
}

h2, fieldset.webform-component-fieldset legend, .attention.big:after {
  font-size: 1.3125em;
}
@media (min-height: 43.75em) {
  h2, fieldset.webform-component-fieldset legend, .attention.big:after {
    font-size: 1.375em;
  }
}
@media (min-height: 56.25em) {
  h2, fieldset.webform-component-fieldset legend, .attention.big:after {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.25em;
}
@media (min-height: 43.75em) {
  h3 {
    font-size: 1.25em;
  }
}
@media (min-height: 56.25em) {
  h3 {
    font-size: 1.25em;
  }
}

h4, h5, h6 {
  font-size: 1.125em;
}
@media (min-height: 43.75em) {
  h4, h5, h6 {
    font-size: 1.125em;
  }
}
@media (min-height: 56.25em) {
  h4, h5, h6 {
    font-size: 1.125em;
  }
}

.submit-link {
  font-size: 1em;
}

.r-header > .inner:after, .r-footer-top > .inner:after,
.r-footer-bottom > .inner:after, .footer-line:after, ul.inline:after, ul.pager:after, fieldset:after, .form-actions:after, .block-menu-block:after, .progressbar:after, .front .node-block-full:after, .o-spatial-plan .view-content .inspection:after, .section-list ul:after, .topical-block:after,
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.user-menu .menu li, .r-breadcrumbs .wrapper-breadcrumb, .section-list ul li, .related-pages-section .field-name-field-related-pages ul,
.related-pages-section .field-name-field-related-guides ul, .related-pages-section .field-name-field-related-pages ul li,
.related-pages-section .field-name-field-related-guides ul li {
  margin: 0;
  padding: 0;
}

.block-menu-block ul.menu, .social-menu ul.menu, .footer-menu ul.menu {
  margin: 0;
  padding: 0;
}
.block-menu-block ul.menu li, .social-menu ul.menu li, .footer-menu ul.menu li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-menu ul.menu a::before, .footer-menu ul.menu li a::before {
  content: '\00bb';
  margin-right: 0.5em;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

input[type=text], input[type=url], input[type=search], input[type=email], input[type=password], input[type=number], input[type=tel], input[type=range], input[type=date], input[type=datetime], input[type=datetime-local], input[type=time], input[type=week], input[type=month], input[type=color], textarea, body.maintenance-page.db-offline .form-type-password input[type="password"] {
  padding: .3125em .5em;
  border: 1px solid #808080;
  background-color: #fff;
  color: #000;
  outline: 0;
}
input[type=text]:hover, input[type=url]:hover, input[type=search]:hover, input[type=email]:hover, input[type=password]:hover, input[type=number]:hover, input[type=tel]:hover, input[type=range]:hover, input[type=date]:hover, input[type=datetime]:hover, input[type=datetime-local]:hover, input[type=time]:hover, input[type=week]:hover, input[type=month]:hover, input[type=color]:hover, textarea:hover, body.maintenance-page.db-offline .form-type-password input[type="password"]:hover {
  border-color: #9a9a9a;
  background-color: #fcfcfc;
}
input[type=text]:focus, input[type=url]:focus, input[type=search]:focus, input[type=email]:focus, input[type=password]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=range]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=time]:focus, input[type=week]:focus, input[type=month]:focus, input[type=color]:focus, textarea:focus, body.maintenance-page.db-offline .form-type-password input[type="password"]:focus {
  border-color: #ff7f00;
  background-color: #fff;
}

input[type=file] {
  padding: .125em .125em;
  border: 1px solid #808080;
  background-color: #fff;
  color: #000;
  outline: 0;
}
input[type=file]:hover {
  border-color: #9a9a9a;
  background-color: #fcfcfc;
}
input[type=file]:focus {
  border-color: #ff7f00;
  background-color: #fff;
}

input[type=image], select {
  padding: .4375em .5em;
  border: 1px solid #808080;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  outline: 0;
}
input[type=image]:hover, select:hover {
  border-color: #9a9a9a;
  background-color: #fcfcfc;
}
input[type=image]:focus, select:focus {
  border-color: #ff7f00;
  background-color: #fff;
}

.group-buttons .field:first-child .btn-small, input[type=button], input[type=submit], input[type=reset], .btn,
.webform-submit, .button-primary, .popup-content .close-button {
  display: inline-block;
  max-width: 28.75em;
  width: auto;
  padding: .375em 1em;
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: #ff7f00;
  color: #fff;
  vertical-align: top;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  -webkit-appearance: none;
}
.group-buttons .field:first-child .btn-small:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .btn:hover,
.webform-submit:hover, .button-primary:hover, .popup-content .close-button:hover, .group-buttons .field:first-child .btn-small:focus, input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus, .btn:focus,
.webform-submit:focus, .button-primary:focus, .popup-content .close-button:focus {
  background-color: #cc6600;
  color: #fff;
}
.group-buttons .field:first-child .btn-small:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active, .btn:active,
.webform-submit:active, .button-primary:active, .popup-content .close-button:active {
  background-color: #994c00;
  color: #fff;
}

.link-file {
  display: inline-block;
  font-weight: 700;
  margin-right: 1em;
  vertical-align: top;
}
.link-file .file {
  background-color: #000;
  color: #fff;
  float: left;
  font-weight: 600;
  line-height: 1;
  margin-right: 1.1em;
  min-width: 3.4em;
  padding: 1.3em 0.3em 1.1em 0.3em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}

html.js .js-hide,
.element-hidden {
  display: none;
}

.search-block label, .search-block fieldset.fieldset-no-border .fieldset-legend, fieldset.fieldset-no-border .search-block .fieldset-legend,
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}
.search-block label.element-focusable:active, .search-block fieldset.fieldset-no-border .element-focusable.fieldset-legend:active, fieldset.fieldset-no-border .search-block .element-focusable.fieldset-legend:active, .search-block label.element-focusable:focus, .search-block fieldset.fieldset-no-border .element-focusable.fieldset-legend:focus, fieldset.fieldset-no-border .search-block .element-focusable.fieldset-legend:focus,
.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
}

ul.pager li.pager-previous a:before, ul.pager li.pager-next a:before, .progressbar li:after, .node-guide > .content ul.guide-nav li.next:after, .node-guide > .content ul.guide-nav li.prev:before, .related-pages-section .field-name-field-related-pages ul li a:before,
.related-pages-section .field-name-field-related-guides ul li a:before, .ajax-progress .throbber:before, a.tabledrag-handle .handle:before, a.contextual-links-trigger:before, body.maintenance-page.db-offline .task-list li:before, body.maintenance-page.db-offline .messages:after, .messages:after {
  font-family: 'dvg-abc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-indent: 0;
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul.pager li.pager-previous a:before, ul.pager li.pager-next a:before, .progressbar li:after, .node-guide > .content ul.guide-nav li.next:after, .node-guide > .content ul.guide-nav li.prev:before, .related-pages-section .field-name-field-related-pages ul li a:before,
.related-pages-section .field-name-field-related-guides ul li a:before {
  content: "›";
}

.ajax-progress .throbber:before {
  content: "⟳";
}

a.tabledrag-handle .handle:before {
  content: "✥";
}

a.contextual-links-trigger:before {
  content: "✎";
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

.region > .inner {
  max-width: 64.375em;
  padding-left: 0.625em;
  padding-right: 0.625em;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 43.75em) {
  .region > .inner {
    max-width: 65em;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}
@media screen and (min-width: 120em) {
  .region > .inner {
    max-width: 65.625em;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

.node > .content,
.file > .content {
  position: relative;
}

.block-logo {
  float: left;
  width: 49%;
}

.block-system {
  max-width: 100%;
}

.field {
  margin-bottom: 1.1em;
}
.field.field-type-file .field-item {
  margin-bottom: 1em;
}
.field .embed .field {
  margin-bottom: 0;
}
.group-buttons .field .btn-small {
  font-weight: 600;
  margin: 2.667em 0;
}
.group-buttons .field:first-child .btn-small {
  font-weight: normal;
  text-decoration: none;
}

.r-header {
  background-color: #ddd;
  margin-bottom: 1em;
}
.r-header > .inner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.r-footer-top,
.r-footer-bottom {
  background-color: #ddd;
}
.r-footer-top > .inner,
.r-footer-bottom > .inner {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-line {
  display: block;
  margin-bottom: 1.4em;
}
@media screen and (min-width: 32.8125em) {
  .footer-line {
    margin-bottom: 1em;
  }
  .footer-line p {
    display: inline-block;
    float: left;
    margin-bottom: 0;
  }
  .footer-line p + p {
    margin-left: 0.3em;
  }
  .footer-line p + p + p {
    margin-left: 0;
  }
  .footer-line p + p + p:before {
    content: ",";
    padding-right: 5px;
  }
}

h1, h2, fieldset.webform-component-fieldset legend, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  color: #ff7f00;
}
h1 a {
  color: #ff7f00;
}
h1 a:hover, h1 a:focus {
  color: #cc6600;
}
h1 a:active {
  color: #994c00;
}

h2, fieldset.webform-component-fieldset legend {
  color: #395e72;
}
h2 a, fieldset.webform-component-fieldset legend a {
  color: #395e72;
}
h2 a:hover, fieldset.webform-component-fieldset legend a:hover, h2 a:focus, fieldset.webform-component-fieldset legend a:focus {
  color: #284250;
}
h2 a:active, fieldset.webform-component-fieldset legend a:active {
  color: #17262e;
}

h3 {
  color: #395e72;
}
h3 a {
  color: #395e72;
}
h3 a:hover, h3 a:focus {
  color: #284250;
}
h3 a:active {
  color: #17262e;
}

h4, h5, h6 {
  color: #395e72;
}
h4 a, h5 a, h6 a {
  color: #395e72;
}
h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  color: #284250;
}
h4 a:active, h5 a:active, h6 a:active {
  color: #17262e;
}

a {
  color: #ff7f00;
}
a:hover, a:focus {
  color: #cc6600;
}
a:active {
  color: #994c00;
}

p {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

img, object, video {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

img {
  border: none;
}

hr {
  margin: 1.3em 0;
  height: 1px;
  border: none;
  background: #808080;
}

ul, ol {
  list-style-position: outside;
  padding: 0;
  margin-top: 0;
  margin-bottom: 1.3em;
}

li ul, li ol {
  margin: 0 1.625em;
}

ul {
  list-style-type: square;
}
ul li {
  margin-left: 1.4em;
  padding-left: .3em;
}
ul.inline {
  margin-bottom: 0;
}
ul.inline li {
  float: left;
}

ol {
  list-style-type: decimal;
}
ol li {
  margin-left: 2em;
  padding-left: .3em;
}

dl dd {
  margin-left: 1.625em;
}

table {
  border: 1px solid #808080;
  border-collapse: collapse;
  margin-bottom: 1.3em;
  width: 100%;
}
table th {
  text-align: left;
  font-weight: normal;
}
table th,
table tr,
table td {
  border: 1px solid #808080;
  padding: .5625em .3125em;
  vertical-align: text-top;
}
table p {
  margin-top: 0;
  margin-bottom: 0;
}

#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}
#autocomplete ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
}

html.js input {
  background-position: right .3125em center;
  background-repeat: no-repeat;
}
html.js input.form-autocomplete {
  background-image: url(../images/throbber-inactive.svg);
}
html.js input.throbbing {
  background-image: url(../images/throbber-active.svg);
}
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
  display: none;
}

fieldset.collapsible {
  position: relative;
}
fieldset.collapsible .fieldset-legend {
  display: block;
}

body.drag {
  cursor: move;
}

.draggable a.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none;
}

a.tabledrag-handle:hover {
  text-decoration: none;
}
a.tabledrag-handle .handle {
  position: relative;
  width: 16px;
  height: 16px;
  margin: -0.4em 0.5em;
}
a.tabledrag-handle .handle:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #808080;
}
a.tabledrag-handle-hover .handle:before {
  color: #000;
}

div.indentation {
  float: left;
  height: 1.5em;
  margin-right: .3125em;
  width: .75em;
  position: relative;
}
div.indentation:after, div.indentation:before {
  content: " ";
  position: absolute;
  background-color: #808080;
}
div.tree-child:before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 1px;
}
div.tree-child:after {
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
}
div.tree-child-last:before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 1px;
}
div.tree-child-last:after {
  left: 0;
  top: 0;
  bottom: 50%;
  width: 1px;
}
div.tree-child-horizontal:before {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 1px;
}

.tabledrag-toggle-weight-wrapper {
  text-align: right;
}

table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

.progress .bar {
  background-color: #ddd;
}
.progress .filled {
  background-color: #ff7f00;
  height: 1em;
  width: 0;
}
.progress .percentage {
  float: right;
}

.password-indicator {
  background-color: #808080;
  height: .3em;
}
.password-indicator .indicator {
  height: 100%;
  background-color: #ff7f00;
}
.password-indicator .indicator[style*="0%"] {
  background-color: #FF3F0D;
}
.password-indicator .indicator[style*="50%"] {
  background-color: #CC9A14;
}
.password-indicator .indicator[style*="100%"] {
  background-color: #14CC92;
}

.password-strength {
  width: 17em;
  float: right;
  /* LTR */
  margin-top: 1.4em;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  /* LTR */
  font-weight: bold;
}

.password-indicator {
  background-color: #808080;
  height: .3em;
  width: 100%;
}
.password-indicator .indicator {
  height: 100%;
  width: 0%;
  background-color: #ff7f00;
  transition: width 500ms;
}
.password-indicator .indicator[style*="47.5%"], .password-indicator .indicator[style*="42.5%"], .password-indicator .indicator[style*="40%"], .password-indicator .indicator[style*="35%"], .password-indicator .indicator[style*="30%"], .password-indicator .indicator[style*="25%"], .password-indicator .indicator[style*="20%"], .password-indicator .indicator[style*="15%"], .password-indicator .indicator[style*="10%"], .password-indicator .indicator[style="width: 5%;"], .password-indicator .indicator[style="width: 0%;"] {
  background-color: #FF3F0D;
}
.password-indicator .indicator[style*="70%"], .password-indicator .indicator[style*="65%"], .password-indicator .indicator[style*="60%"], .password-indicator .indicator[style*="55%"], .password-indicator .indicator[style*="50%"] {
  background-color: #CC9A14;
}
.password-indicator .indicator[style*="75%"], .password-indicator .indicator[style*="80%"], .password-indicator .indicator[style*="85%"], .password-indicator .indicator[style*="87.5%"], .password-indicator .indicator[style*="90%"], .password-indicator .indicator[style*="95%"], .password-indicator .indicator[style*="100%"] {
  background-color: #14CC92;
}

input.password-confirm, input.password-field {
  width: 16em;
  margin-bottom: 0.4em;
}

div.password-confirm {
  float: right;
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em;
}
div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
  margin-bottom: 0;
}

.confirm-parent, .password-parent {
  clear: left;
  margin: 0;
  width: 36.3em;
}

span.ok {
  color: #14CC92;
}
span.error {
  color: #FF3F0D;
}
span.marker {
  background-color: #ff7f00;
  padding: .1875em .3125em;
  color: #fff;
}

.ajax-progress {
  display: inline-block;
}
.ajax-progress .throbber {
  float: left;
  position: relative;
  width: 14px;
  height: 18px;
}
.ajax-progress .throbber:before {
  position: absolute;
  color: #ff7f00;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 14px;
  height: 18px;
  margin: auto;
  -ms-animation: rotate 800ms linear infinite;
  animation: rotate 800ms linear infinite;
}
.ajax-progress .message {
  padding-left: 20px;
}

tr .ajax-progress .throbber {
  margin: 0 2px;
}

.ajax-progress-bar {
  width: 16em;
}

.container-inline div, .container-inline label, .container-inline fieldset.fieldset-no-border .fieldset-legend, fieldset.fieldset-no-border .container-inline .fieldset-legend {
  display: inline;
}
.container-inline .fieldset-wrapper {
  display: block;
}

.nowrap {
  white-space: nowrap;
}

.pagernav {
  border-top: 1px solid #808080;
  margin-top: 2.5em;
  padding-top: 2.5em;
}

ul.pager {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.pager li {
  float: left;
  margin: 0 .3125em .3125em 0;
  padding: 0;
  list-style: none;
}
ul.pager li a {
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  padding: .3125em;
  border: 2px solid transparent;
  text-align: center;
  min-width: 1.25em;
  min-height: 2em;
}
@media screen and (min-width: 43.75em) {
  ul.pager li a {
    min-width: 2.625em;
    padding: .3125em .625em;
  }
}
ul.pager li.pager-item {
  display: block;
}
ul.pager li.pager-item a {
  background-color: #ff7f00;
  border-color: #ff7f00;
  color: #fff;
}
ul.pager li.pager-item a:hover, ul.pager li.pager-item a:focus {
  background-color: #ffb266;
  border-color: #ffb266;
}
ul.pager li.pager-current {
  width: auto;
  height: auto;
  line-height: 1;
  padding: .3125em;
  border: 2px solid #ff7f00;
  color: #ff7f00;
  min-width: 1.25em;
  min-height: 2em;
}
@media screen and (min-width: 43.75em) {
  ul.pager li.pager-current {
    min-width: 2.625em;
    padding: .3125em .625em;
  }
}
ul.pager li.pager-first a:hover, ul.pager li.pager-first a:focus, ul.pager li.pager-last a:hover, ul.pager li.pager-last a:focus, ul.pager li.pager-previous a:hover, ul.pager li.pager-previous a:focus, ul.pager li.pager-next a:hover, ul.pager li.pager-next a:focus {
  color: #ffb266;
}
@media screen and (min-width: 120em) {
  ul.pager li.pager-first, ul.pager li.pager-last {
    display: block;
  }
}
ul.pager li.pager-previous a, ul.pager li.pager-next a {
  position: relative;
  text-indent: -9999px;
  overflow: hidden;
  width: 1.375em;
  height: 2em;
  background-color: #ff7f00;
  border-color: #ff7f00;
}
ul.pager li.pager-previous a:hover, ul.pager li.pager-previous a:focus, ul.pager li.pager-next a:hover, ul.pager li.pager-next a:focus {
  background-color: #ffb266;
  border-color: #ffb266;
}
ul.pager li.pager-previous a:before, ul.pager li.pager-next a:before {
  position: absolute;
}
@media screen and (min-width: 43.75em) {
  ul.pager li.pager-previous a, ul.pager li.pager-next a {
    min-width: 2.625em;
    padding: .3125em .625em;
    text-indent: 0;
    overflow: visible;
    width: auto;
    height: auto;
    border-color: transparent;
    background-color: transparent;
  }
  ul.pager li.pager-previous a:hover, ul.pager li.pager-previous a:focus, ul.pager li.pager-next a:hover, ul.pager li.pager-next a:focus {
    background-color: transparent;
    border-color: transparent;
  }
}
ul.pager li.pager-previous a:before {
  left: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
ul.pager li.pager-next a:before {
  right: 0;
}

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skip-links > li {
  position: fixed;
  z-index: 99999;
  top: 2em;
  left: .5em;
  right: .5em;
  text-align: center;
  margin: 0;
  padding: 0;
}
.skip-links .skip-link {
  display: inline-block;
  padding: 1em 1.5em;
  font-weight: bold;
  text-decoration: none;
  border: 0.2em solid;
  background-color: rgba(255, 255, 255, 0.95);
  outline: 0;
  border-radius: .1em;
  box-shadow: 0 0 5px 0 #000;
}

input[readonly="readonly"] {
  background-color: #ddd;
  cursor: not-allowed;
}
input[readonly="readonly"]:hover, input[readonly="readonly"]:focus {
  border-color: #808080;
  background-color: #ddd;
}
input[type=hidden] {
  display: none;
}
input[type=submit][value=Remove], input[type=submit][value=Verwijderen] {
  background-color: #FF3F0D;
}
input[type=submit][value=Upload], input[type=submit][value=Uploaden] {
  background-color: #14CC92;
}
input[type=image] {
  padding: .5625em;
}
input[type=checkbox] {
  padding: 0;
  margin: 0 0.4em 0 0;
  cursor: pointer;
}
input[type=radio] {
  padding: 0;
  margin: 0 0.4em 0 0;
  cursor: pointer;
}
input.day, input.month, input.year {
  width: auto;
}
input[type="submit"][id^="edit-submit"], input[id^="save-continue"], input[type="submit"][id^="edit-save"] {
  background-color: green;
}

select.day, select.month, select.year {
  width: auto;
}

.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
}

.resizable-textarea textarea {
  resize: none;
  border-bottom: 0;
}

.grippie {
  position: relative;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  background-color: #808080;
  overflow: hidden;
}
.grippie:after, .grippie:before {
  content: " ";
  position: absolute;
  width: 5%;
  min-width: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.grippie:before {
  position: absolute;
  height: 3px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.grippie:after {
  position: absolute;
  height: 0;
  border-top: 1px solid #fff;
}

fieldset {
  padding: 20px;
  margin: 0 0 1.5em 0;
}
fieldset .fieldset-description {
  margin: 0 0 1em 0;
  line-height: 1.4;
}
fieldset legend {
  position: relative;
  margin: 0 0 0 -5px;
  padding: 0 5px;
}
fieldset.fieldset-no-border {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}
fieldset.fieldset-no-border:last-child {
  margin: 0;
}
fieldset.fieldset-no-border legend {
  margin-bottom: 5px;
  font-weight: 600;
}
fieldset.fieldset-no-border .fieldset-legend {
  padding: 0;
}
fieldset.webform-component-fieldset {
  margin-bottom: 0;
  padding: 0;
  border: 0;
}
fieldset.webform-component-fieldset legend {
  font-weight: 600;
  padding: 0;
  margin-bottom: 5px;
}

.webform-component-number select {
  width: auto;
}

.submit-link {
  padding: 0;
  background: transparent;
  border: none;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  text-decoration: underline;
}
.submit-link:hover {
  cursor: pointer;
}

.form-managed-file input[type="file"] {
  margin-bottom: 0.8em;
}
.form-managed-file input[type="submit"],
.form-managed-file input[type="button"] {
  margin-left: 10px;
  max-width: none;
  width: auto;
}

label, fieldset.fieldset-no-border .fieldset-legend {
  padding: 0;
  margin: 0;
  display: block;
  font-weight: bold;
}

input[type="radio"] + label, fieldset.fieldset-no-border input[type="radio"] + .fieldset-legend,
input[type="checkbox"] + label,
fieldset.fieldset-no-border input[type="checkbox"] + .fieldset-legend {
  font-weight: normal;
  display: inline;
  cursor: pointer;
}

.form-actions {
  margin: 2.5em 0 0 0;
  max-width: 28em;
}

.form-item .description {
  margin-top: 0.3em;
}

.form-type-radio,
.form-type-checkbox {
  margin-bottom: 0;
}

.block-menu-block ul.menu > li {
  margin-bottom: 1.3em;
}
.block-menu-block ul.menu > li h2, .block-menu-block ul.menu > li fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .block-menu-block ul.menu > li legend,
.block-menu-block ul.menu > li h3 {
  margin: 0;
}
.block-menu-block ul.menu > li h2 a, .block-menu-block ul.menu > li fieldset.webform-component-fieldset legend a, fieldset.webform-component-fieldset .block-menu-block ul.menu > li legend a,
.block-menu-block ul.menu > li h3 a {
  word-wrap: break-word;
}
.block-menu-block ul.menu > li .description,
.block-menu-block ul.menu > li .nolink {
  display: block;
}

@media screen and (min-width: 43.75em) {
  .block-menu-block ul.menu > li {
    width: 50%;
    float: left;
  }
  .block-menu-block ul.menu > li:nth-child(odd) {
    clear: left;
    padding-right: .5em;
  }
  .block-menu-block ul.menu > li:nth-child(even) {
    float: right;
    clear: right;
    padding-left: .5em;
  }
}
@media screen and (min-width: 32.8125em) {
  .social-menu {
    float: left;
    width: 50%;
  }
}
.social-menu ul.menu li {
  margin: 0 0 1em 0;
}

@media screen and (min-width: 32.8125em) {
  .footer-menu {
    display: inline-block;
    width: 49%;
  }
}
@media screen and (min-width: 120em) {
  .footer-menu ul.menu {
    padding-right: 0;
  }
}
.footer-menu ul.menu li {
  margin: 0 0 1em 0;
}
@media screen and (min-width: 32.8125em) {
  .footer-menu ul.menu li {
    display: inline-block;
    width: 49%;
  }
}

.user-menu {
  line-height: 2;
  text-align: right;
}
.user-menu h2, .user-menu fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .user-menu legend {
  display: inline-block;
  margin: 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-weight: normal;
}
.user-menu .content {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  display: inline-block;
}
.user-menu .menu {
  display: inline-block;
  margin: 0;
}
.user-menu .menu li {
  list-style: none;
}
@media screen and (min-width: 32.8125em) {
  .user-menu {
    margin: 0 1.5em;
  }
}
@media screen and (min-width: 43.75em) {
  .user-menu {
    margin: 0 4em;
  }
}

.popup-overlay {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.popup-content {
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;
  left: 0;
  overflow: scroll;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}
@media screen and (min-width: 43.75em) {
  .popup-content {
    height: auto;
    left: 20%;
    overflow: visible;
    top: 12.5%;
    width: 60%;
  }
}
.popup-content h2, .popup-content fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .popup-content legend {
  width: 90%;
}
.popup-content .close-x {
  background: none;
  border: none;
  color: red;
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup-content .close-x:hover {
  cursor: pointer;
}
.popup-content .close-button {
  background-color: #9DD11A !important;
}
.popup-content .close-button:hover {
  background-color: #82AE13 !important;
}

.r-breadcrumbs .wrapper-breadcrumb {
  position: relative;
}

.breadcrumb {
  height: auto;
  line-height: 2.5;
}
.breadcrumb a {
  display: inline-block;
  text-decoration: none;
}
.breadcrumb a:hover {
  text-decoration: underline;
}

body.maintenance-page {
  height: auto;
  min-height: 100%;
}
body.maintenance-page.db-offline .r-header {
  background: transparent;
}
body.maintenance-page.db-offline .sidebar {
  display: inline-block;
  width: 30%;
}
body.maintenance-page.db-offline .content {
  display: inline-block;
  width: 65%;
  min-height: 250px;
  padding-left: 5%;
  vertical-align: top;
}
body.maintenance-page.db-offline .task-list {
  list-style-type: none;
}
body.maintenance-page.db-offline .task-list li {
  position: relative;
  margin: 0 0 10px 0;
  padding: 0 0 0 40px;
}
body.maintenance-page.db-offline .task-list li:before {
  position: absolute;
  left: 0;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  border-radius: 100%;
  font-size: 0.6em;
  color: #fff;
}
body.maintenance-page.db-offline .task-list li.done:before {
  content: "✔";
  background-color: #14CC92;
}
body.maintenance-page.db-offline .task-list li.active:before {
  content: "➡";
  background-color: #CC9A14;
}
body.maintenance-page.db-offline .task-list li.error:before {
  content: "✖";
  background-color: #FF3F0D;
}
body.maintenance-page.db-offline .messages {
  word-wrap: break-word;
  position: relative;
  margin: 0 0 40px 0;
  padding: 20px 70px 20px 20px;
  border-left: 5px solid;
}
body.maintenance-page.db-offline .messages li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
body.maintenance-page.db-offline .messages .inline-info {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
body.maintenance-page.db-offline .messages .menu {
  margin-bottom: 0;
}
body.maintenance-page.db-offline .messages:before {
  background: none;
}
body.maintenance-page.db-offline .messages a {
  color: inherit;
}
body.maintenance-page.db-offline .messages a:hover {
  text-decoration: none;
}
body.maintenance-page.db-offline .messages:after {
  position: absolute;
  top: .75em;
  right: .75em;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  color: #fff;
  border-radius: 100%;
  text-align: center;
}
body.maintenance-page.db-offline .messages.status {
  background-color: #ccfaeb;
  border-color: #14CC92;
}
body.maintenance-page.db-offline .messages.status:after {
  content: "✔";
  background-color: #0f9e71;
}
body.maintenance-page.db-offline .messages.warning {
  background-color: #f1cd6f;
  border-color: #CC9A14;
}
body.maintenance-page.db-offline .messages.warning:after {
  content: "⚠";
  background-color: #9e770f;
}
body.maintenance-page.db-offline .messages.error {
  background-color: #ffb09c;
  border-color: #FF3F0D;
}
body.maintenance-page.db-offline .messages.error:after {
  content: "✖";
  background-color: #d92d00;
}
body.maintenance-page.db-offline input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="number"]):not([type="password"]), body.maintenance-page.db-offline select, body.maintenance-page.db-offline input[type="number"], body.maintenance-page.db-offline body.maintenance-page .form-type-password input[type="password"] {
  max-width: none;
}
body.maintenance-page.db-offline .form-type-password {
  position: relative;
  margin-bottom: 13px;
}
body.maintenance-page.db-offline .form-type-password .password-strength,
body.maintenance-page.db-offline .form-type-password div.password-confirm {
  position: absolute;
  right: 0;
  top: 25px;
  width: 45%;
  text-align: left;
}
body.maintenance-page.db-offline .form-type-password input[type="password"] {
  width: 50%;
}
body.maintenance-page.db-offline .form-type-password label, body.maintenance-page.db-offline .form-type-password fieldset.fieldset-no-border .fieldset-legend, fieldset.fieldset-no-border body.maintenance-page.db-offline .form-type-password .fieldset-legend {
  margin: 0 0 5px;
}
body.maintenance-page.db-offline .password-strength .password-strength-title {
  float: left;
}
body.maintenance-page.db-offline .password-strength .password-strength-title,
body.maintenance-page.db-offline .password-strength .password-strength-text {
  display: inline-block;
  padding-right: 5px;
}
body.maintenance-page.db-offline .password-strength .password-indicator {
  display: inline-block;
  margin: 5px 0 8px 0;
  width: 100%;
}
body.maintenance-page.db-offline .password-strength .password-indicator .indicator {
  float: left;
  height: .2em;
}
body.maintenance-page.db-offline .password-suggestions {
  position: relative;
  display: block;
  height: auto;
}
body.maintenance-page.db-offline .password-suggestions ul {
  float: right;
  text-align: left;
  width: 45%;
}
body.maintenance-page.db-offline .password-suggestions ul li {
  margin-bottom: 0;
  margin-left: 0.75em;
}
body.maintenance-page.db-offline .progress .bar {
  background-color: #fff;
}
body.maintenance-page.db-offline .progress .filled {
  height: 1.5em;
  width: 5px;
}
body.maintenance-page.db-offline .progress .percentage {
  float: right;
}

.o-search .view-content {
  padding: 0;
}
.o-search .field {
  margin-bottom: 0;
}

.r-header .search-block {
  float: right;
  width: 49%;
}
.search-block .form-item {
  margin-bottom: 0;
}
.search-block .form-text {
  width: calc(100% - 88px);
}
.search-block .form-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 88px;
}
.search-block .views-widget-filter-search_api_views_fulltext {
  width: 100%;
}
.search-block .views-exposed-widgets {
  position: relative;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

.attention {
  margin: 0 0 1.25em 0;
  padding-left: 34px;
  position: relative;
}
.attention:after {
  background-color: #ff7f00;
  color: #fff;
  content: '!';
  display: block;
  height: 1.112em;
  left: 0;
  line-height: 1.1;
  position: absolute;
  text-align: center;
  top: 0.2em;
  font-size: 1.125em;
  width: 1.112em;
}
.attention.big {
  display: inline-block;
  font-weight: 600;
  padding-left: 58px;
}
.attention.big:after {
  height: 1.05em;
  line-height: 1.1;
  top: 0.09em;
  width: 1.05em;
}
@media screen and (min-width: 120em) {
  .attention.big {
    line-height: 1.6;
  }
}

.quote, .field-name-field-callus,
.field-name-field-referral-site, .related-pages-section {
  margin: 0 1em 1.25em 0;
  padding-left: 1em;
  border-left: 1px solid #ff7f00;
}

.tabs {
  margin: 1em 0;
  padding: 0;
}
.tabs a {
  display: block;
  color: #00C4FF;
  border: 1px solid #00C4FF;
  border-bottom: 0 solid;
  padding: 0.5em 1em;
}
.tabs a.active {
  background-color: white;
}
.tabs a:focus, .tabs a:hover {
  color: #fff;
  background-color: #00C4FF;
}
.tabs a:active {
  color: #fff;
  background-color: #007699;
}
@media screen and (min-width: 43.75em) {
  .tabs a {
    border: 1px solid #00C4FF;
  }
}
.tabs li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tabs li:last-child a {
  border-bottom: 1px solid #00C4FF;
}
@media screen and (min-width: 43.75em) {
  .tabs li {
    display: inline-block;
    margin-right: .7em;
  }
}
.tabs.primary a {
  color: #0089B2;
  border: 1px solid #0089B2;
  border-bottom: 0 solid;
}
.tabs.primary a.active {
  background-color: #e5f9ff;
}
.tabs.primary a:focus, .tabs.primary a:hover {
  color: #fff;
  background-color: #0089B2;
}
.tabs.primary a:active {
  color: #fff;
  background-color: #003a4c;
}
@media screen and (min-width: 43.75em) {
  .tabs.primary a {
    border: 1px solid #0089B2;
    border-bottom-width: 3px;
  }
}
.tabs.primary li:last-child a {
  border-bottom: 1px solid #0089B2;
}
@media screen and (min-width: 43.75em) {
  .tabs.primary li:last-child a {
    border-bottom-width: 3px;
  }
}

.messages {
  word-wrap: break-word;
  position: relative;
  margin: 0 0 40px 0;
  padding: 20px 70px 20px 20px;
  border-left: 5px solid;
}
.messages li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.messages a {
  color: #000;
  background-color: #fff;
  padding: .1875em .3125em;
}
.messages .inline-info {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
.messages .menu {
  margin-bottom: 0;
}
.messages:before {
  background: none;
}
.messages:after {
  position: absolute;
  top: .75em;
  right: .75em;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  color: #fff;
  border-radius: 100%;
  text-align: center;
}
.messages.status {
  background-color: #ccfaeb;
  border-color: #14CC92;
}
.messages.status:after {
  content: "✔";
  background-color: #0f9e71;
}
.messages.status a {
  color: white;
  background-color: #0d8660;
}
.messages.status a:focus, .messages.status a:hover {
  background-color: #09583f;
}
.messages.warning {
  background-color: #f1cd6f;
  border-color: #CC9A14;
}
.messages.warning:after {
  content: "⚠";
  background-color: #9e770f;
}
.messages.warning a {
  color: white;
  background-color: #86650d;
}
.messages.warning a:focus, .messages.warning a:hover {
  background-color: #584209;
}
.messages.error {
  background-color: #ffb09c;
  border-color: #FF3F0D;
}
.messages.error:after {
  content: "✖";
  background-color: #d92d00;
}
.messages.error a {
  color: white;
  background-color: #c02800;
}
.messages.error a:focus, .messages.error a:hover {
  background-color: #8d1d00;
}

.block-views > .contextual-links-wrapper {
  right: 30px;
}

.block > .contextual-links-wrapper,
.block-bean > .contextual-links-wrapper,
.block-views > .contextual-links-wrapper {
  right: 0;
  left: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  top: -15px;
}

.contextual-links-region {
  outline: none;
  position: relative;
}

.contextual-links-region-active {
  outline: #0089B2 dashed 2px;
  z-index: 100;
}

div.contextual-links-wrapper {
  display: none;
  font-size: 90%;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}

html.js div.contextual-links-wrapper {
  display: block;
}

a.contextual-links-trigger {
  position: relative;
  display: none;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 2px solid #0089B2;
  border-radius: 17px;
  margin: 0;
  padding: 0 2px;
  outline: none;
  text-indent: 34px;
  overflow: hidden;
}
a.contextual-links-trigger:before {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 6px;
  color: #0089B2;
}
a.contextual-links-trigger:hover:before {
  color: #00b0e5;
}

div.contextual-links-active a.contextual-links-trigger {
  border-color: #0089B2;
  border-bottom: none;
  position: relative;
  box-shadow: none;
  z-index: 1;
  -moz-border-radius: 17px 17px 0 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-radius: 17px 17px 0 0;
}
div.contextual-links-active a.contextual-links-trigger:before {
  color: #00b0e5;
}
div.contextual-links-wrapper ul.contextual-links {
  background-color: #fff;
  border: 2px solid #0089B2;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 28px;
  white-space: nowrap;
  border-radius: 5px 0 5px 5px;
}

a.contextual-links-trigger-active {
  display: block;
}

div.contextual-links-active a.contextual-links-trigger, div.contextual-links-active ul.contextual-links {
  display: block;
}

ul.contextual-links li {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

div.contextual-links-wrapper a {
  text-decoration: none;
}

ul.contextual-links li a {
  color: #000 !important;
  display: block;
  margin: 0;
  padding: 10px;
}
ul.contextual-links li a:hover {
  background-color: #0089B2;
  color: #fff !important;
}

.media-element-container {
  margin: 0 0 1em;
  max-width: 830px;
}
.media-element-container img {
  margin-bottom: 0.3em;
}
.media-element-container .field {
  display: inline-block;
  padding: 0 1em;
}
.media-element-container .field .field-label {
  margin-right: 0.2em;
}
.media-element-container .field div {
  display: inline-block;
  margin: 0;
}
@media screen and (min-width: 32.8125em) {
  .media-element-container img {
    margin-bottom: 0;
  }
}

.webform-next.form-submit {
  float: right;
}

table.webform-grid {
  width: auto;
}
table.webform-grid td {
  padding: 0.3em 0;
  vertical-align: top;
}

table.webform-grid
table.webform-grid th.webform-grid-option,
table.webform-grid .webform-grid-question {
  padding-right: 2em;
}

.progressbar {
  background-color: #fff;
  border-bottom: 2px solid;
  border-color: #000;
  border-top: 2px solid;
  display: block;
  height: auto;
  margin-bottom: 30px;
  padding: 10px 15px 5px;
  text-align: left;
  width: 100%;
}
.progressbar li {
  background: none;
  border: none;
  display: inline-block;
  height: auto;
  margin: 0 15px 5px 0;
  position: relative;
  width: auto;
}
.progressbar li:after {
  position: absolute;
  width: 10px;
  font-size: 10px;
  right: -15px;
  top: 3px;
}
.progressbar li:last-child:after {
  display: none;
}
.progressbar li .label {
  margin: 0;
  position: relative;
  top: 0;
}
.progressbar li.current {
  background: none;
  font-weight: 600;
}
.progressbar li.current .label {
  border-bottom: 2px solid;
}

@media screen and (min-width: 60em) {
  .progressbar {
    background: none;
    border-bottom: none;
    border-top: none;
    display: table;
    margin-bottom: 1EM;
    padding: 0;
    width: 100%;
  }
  .progressbar li {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    display: table-cell;
    line-height: 2;
    margin: 0;
    padding: 0 13px 0 23px;
    text-align: center;
    width: auto;
  }
  .progressbar li:after {
    background: none;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 1.1em 0 1.1em 14px;
    content: '';
    height: 0;
    position: absolute;
    right: -12px;
    top: -1px;
    -moz-transform: scale(0.9999);
    width: 0;
  }
  .progressbar li .label {
    display: block;
  }
  .progressbar li .label:after {
    background: none;
    border-color: transparent transparent transparent #000;
    border-style: solid;
    border-width: 1.1em 0 1.1em 14px;
    content: '';
    height: 0;
    position: absolute;
    right: -26px;
    top: -1px;
    -moz-transform: scale(0.9999);
    width: 0;
  }
  .progressbar li:first-child {
    border-left: 1px solid #000;
    padding-left: 13px;
  }
  .progressbar li:last-child {
    border-right: 1px solid #000;
  }
  .progressbar li:last-child:after {
    display: none;
  }
  .progressbar li:last-child .label:after {
    display: none;
  }
  .progressbar li.current {
    font-weight: bold;
    background: #000;
    color: #fff;
  }
  .progressbar li.current:after {
    border-color: transparent transparent transparent #000;
  }
  .progressbar li.current .label {
    border-bottom: none;
  }
  .progressbar li.completed {
    z-index: 1;
  }
}
.webform-container-inline label, .webform-container-inline fieldset.fieldset-no-border .fieldset-legend, fieldset.fieldset-no-border .webform-container-inline .fieldset-legend {
  display: inline-block;
  width: 14em;
}
.webform-container-inline > div, .webform-container-inline > input {
  max-width: 18em;
}

.front .node-block-full h2, .front .node-block-full fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .front .node-block-full legend {
  padding: 0;
}
.front .node-block-full p {
  margin-bottom: 1.45;
}
.front .node-block-full table tr {
  background-color: transparent;
}
.front .node-block-full table td {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 43.75em) {
  .front .node-block-full .field-name-field-block-body {
    background: red;
  }
  .front .node-block-full .field-name-field-block-body .field-item {
    float: left;
    width: 48%;
  }
  .front .node-block-full .field-name-field-block-body .field-item.odd {
    float: right;
    margin-left: 2%;
  }
}

.node-guide > .content ol.guide-menu {
  border-bottom: 1px solid #000;
  font-weight: 600;
  max-width: 830px;
  padding-bottom: 1em;
}
.node-guide > .content ol.guide-menu li {
  margin-bottom: 0.35em;
  padding-left: 0;
}
.node-guide > .content ol.guide-menu li a.active {
  color: #000;
  text-decoration: none;
}

.node-guide > .content ul.guide-nav {
  border-top: 1px solid #000;
  margin: 0;
  max-width: 830px;
  padding: 0.7em 0;
}
.node-guide > .content ul.guide-nav li {
  display: inline-block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0.2em 0;
  width: 50%;
}
.node-guide > .content ul.guide-nav li.next {
  float: right;
  text-align: right;
}
.node-guide > .content ul.guide-nav li.next:after {
  display: inline-block;
  font-size: 10px;
  margin-left: .5em;
}
.node-guide > .content ul.guide-nav li.prev {
  position: relative;
  width: 49%;
}
.node-guide > .content ul.guide-nav li.prev:before {
  display: inline-block;
  font-size: 10px;
  margin-right: .5em;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.node-guide > .content ul.guide-nav li a {
  font-weight: 600;
  padding: 0 0.2em;
  text-transform: lowercase;
}

.node.node-news-full > .content .field-name-field-publication-date {
  margin: -15px 0 20px;
}

.o-spatial-plan .view-filters {
  border-bottom: 3px solid #000;
  margin-bottom: 40px;
  max-width: 460px;
  padding-bottom: 30px;
}
.o-spatial-plan .views-exposed-form {
  padding: 0 5px;
}
.o-spatial-plan .views-exposed-form label, .o-spatial-plan .views-exposed-form fieldset.fieldset-no-border .fieldset-legend, fieldset.fieldset-no-border .o-spatial-plan .views-exposed-form .fieldset-legend {
  font-weight: 300;
}
.o-spatial-plan .views-exposed-form input[type=submit] {
  background: #000;
  float: right;
  min-height: 32px;
  padding: 0;
  text-align: center;
  width: 103px;
}
.o-spatial-plan .views-exposed-form input[type=submit]:hover {
  box-shadow: none;
  margin: 2px 0 0 2px;
}
.o-spatial-plan .view-content .inspection {
  background: #000;
  color: #fff;
  display: inline-block;
  margin: 7px 0 3px;
  padding: 4px 14px;
  text-decoration: none;
  width: auto;
}
.o-spatial-plan select {
  width: 100%;
}

@media screen and (min-width: 43.75em) {
  .o-spatial-plan .view-filters {
    max-width: none;
  }
  .o-spatial-plan .views-exposed-form .views-exposed-widget {
    float: left;
  }
  .o-spatial-plan .views-exposed-form input[type=submit] {
    float: none;
    margin-top: 24px;
  }
  .o-spatial-plan .views-exposed-form input[type=submit]:hover {
    margin-top: 26px;
  }
  .o-spatial-plan .views-exposed-form .views-widget-filter-title {
    margin-right: 10px;
  }
  .o-spatial-plan .views-exposed-form .views-widget-filter-title .form-item {
    width: 300px;
  }
  .o-spatial-plan .views-exposed-form .views-widget-filter-term_node_tid_depth {
    margin-right: 10px;
  }
  .o-spatial-plan .views-exposed-form select {
    height: 32px;
    width: 200px;
  }
}
@media screen and (min-width: 32.8125em) {
  .node-profile .field-name-field-image {
    float: left;
    margin-bottom: 30px;
    width: 48%;
  }
  .node-profile .field-name-field-profile-contact-text {
    float: left;
    padding-left: 30px;
    width: 50%;
  }
  .node-profile .field-name-body {
    clear: both;
  }
}
.node-profile.node-teaser .field-item {
  float: none;
  margin-bottom: 0;
  width: 100%;
}
.node-profile.node-teaser .field-name-field-image {
  float: none;
  margin-bottom: 1%;
  max-width: none;
  width: 100%;
}

.node-profile-group {
  max-width: 830px;
}
.node-profile-group .field-name-field-profile-group-profiles {
  margin-top: 50px;
}
.node-profile-group .field-item {
  margin-bottom: 15px;
}
@media screen and (min-width: 32.8125em) {
  .node-profile-group .field-name-field-profile-group-profiles .field-item {
    float: left;
    margin-bottom: 30px;
    width: 48%;
  }
  .node-profile-group .field-name-field-profile-group-profiles .field-item.even {
    margin-right: 4%;
  }
}

.field-name-field-callus,
.field-name-field-referral-site {
  padding-left: 0.95em;
}

.main-section {
  max-width: 51.875em;
}
@media screen and (min-width: 60em) {
  .main-section.related-pages-enabled {
    max-width: 35em;
    padding-right: 1em;
    position: relative;
    width: 70%;
  }
  .main-section.related-pages-enabled ~ .section-list,
  .main-section.related-pages-enabled ~ .field-name-field-sections {
    width: 70%;
  }
}

.section-list {
  max-width: 45em;
}
.section-list ul {
  list-style: none;
}
.section-list ul li a {
  display: block;
  padding: 0.75em;
  padding-left: 2.5em;
  position: relative;
}

.field-name-field-sections {
  margin-bottom: 1.1em;
  max-width: 45em;
}
.field-name-field-sections .task-section {
  display: block;
  padding-top: 2em;
}

@media screen and (min-width: 43.75em) {
  .section-list.js {
    border-bottom: 1px solid #000;
  }
  .section-list.js ul {
    margin: 0 0 -1px 0;
    display: block;
  }
  .section-list.js ul li {
    float: left;
    margin: 0 0 0 -1px;
  }
  .section-list.js ul li.first {
    border-left: 1px solid #000;
    margin-left: 0;
  }
  .section-list.js ul li.first a {
    border-left: none;
  }
  .section-list.js ul li.last a {
    border-right: 1px solid #000;
  }
  .section-list.js ul li a {
    padding: .8em 1.7em;
    border: 1px solid #000;
  }
  .section-list.js ul li.active a {
    border-bottom-color: #fff;
  }

  .field-name-field-sections.js {
    min-height: 100%;
    position: relative;
    z-index: 0;
    border: 1px solid #000;
    border-top: none;
  }
  .field-name-field-sections.js .task-section {
    padding: 0;
  }
  .field-name-field-sections.js .task-section > div {
    padding: 1em;
  }
  .field-name-field-sections.js .task-section h2, .field-name-field-sections.js .task-section fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .field-name-field-sections.js .task-section legend {
    clip: rect(1px 1px 1px 1px);
    position: absolute !important;
  }
  .field-name-field-sections.js .task-section li {
    margin-left: 0.9em;
    padding-left: 0.30em;
    padding-right: 30px;
  }
}
.o-file .view-content {
  margin-top: 10px;
  padding: 0;
}
.o-file .view-content .views-row {
  margin-bottom: 38px;
  position: relative;
}
.o-file .view-content .views-row .content {
  padding-left: 60px;
}
.o-file .view-content .views-row .content .link-file {
  display: inline;
  line-height: 1;
}
.o-file .view-content .views-row .content .link-file .file {
  left: 0;
  position: absolute;
  top: 0;
}

.menu-content-block .node .content {
  padding-top: 1em;
}

.related-pages-section {
  font-weight: normal;
  max-width: 830px;
  padding-left: 15px;
}
@media screen and (min-width: 32.8125em) {
  .related-pages-section {
    margin-top: 60px;
  }
}
@media screen and (min-width: 60em) {
  .related-pages-section {
    margin: 0 0 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
  }
}
.related-pages-section .field-name-field-title-related-pages h2, .related-pages-section .field-name-field-title-related-pages fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .related-pages-section .field-name-field-title-related-pages legend {
  margin-top: 0;
}
.related-pages-section .field-name-field-related-pages,
.related-pages-section .field-name-field-related-guides {
  margin-bottom: 0;
}
.related-pages-section .field-name-field-related-pages ul li,
.related-pages-section .field-name-field-related-guides ul li {
  background: none;
  list-style: none;
}
.related-pages-section .field-name-field-related-pages ul li a,
.related-pages-section .field-name-field-related-guides ul li a {
  display: block;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  text-decoration: none;
}
.related-pages-section .field-name-field-related-pages ul li a:before,
.related-pages-section .field-name-field-related-guides ul li a:before {
  display: inline-block;
  font-size: .8em;
  margin-right: .8em;
}
.related-pages-section .field-name-field-related-pages ul li a:hover,
.related-pages-section .field-name-field-related-guides ul li a:hover {
  text-decoration: underline;
}

.field-name-field-publication-date {
  display: block;
  margin: 4px 0;
}
.field-name-field-publication-date .form-item {
  margin-bottom: 0;
}
.field-name-field-publication-date .field-label,
.field-name-field-publication-date .field-items {
  display: inline-block;
  font-weight: 400;
}
.field-name-field-publication-date .date-display-single {
  text-transform: lowercase;
}

.topical-block {
  word-wrap: break-word;
}
.topical-block h2 a, .topical-block fieldset.webform-component-fieldset legend a, fieldset.webform-component-fieldset .topical-block legend a {
  text-decoration: none;
}
.topical-block .view-content ul {
  float: none;
  margin: 0;
}
.topical-block .view-content ul li {
  float: none;
  list-style: none;
  margin: 1.3em 0 1.2em 0;
  padding: 1.25em 0 0 0;
  width: 100%;
}
.topical-block .view-content ul li.views-row-first {
  margin-top: 0;
  padding-top: 0;
}
.topical-block .view-content ul li .topical-title {
  display: block;
  font-weight: 400;
  line-height: 1.4;
  margin: 0.6em 0 0 0;
  text-decoration: none;
}
.topical-block .view-content ul li .field {
  margin-bottom: 0.6em;
}
.topical-block .view-content ul li .field.field-name-field-highlight-image {
  margin: 0.6em 0 0.3em;
}
.topical-block .view-content ul li .field-name-field-highlight-more-label {
  margin-top: 1.5em;
  position: relative;
}
.topical-block .view-content ul li .field-name-field-highlight-more-label a:before {
  content: '\00bb';
  margin-right: 0.5em;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
.topical-block .view-content ul li + li {
  border-top: 1px solid;
}
.topical-block .attachment-after {
  border-top: 1px solid;
  clear: both;
  padding: 30px 0;
  text-align: center;
}
@media screen and (min-width: 43.75em) {
  .topical-block .view-content ul {
    float: left;
    padding-right: 2%;
    width: 50%;
  }
  .topical-block .view-content ul li {
    float: left;
    margin: 0;
  }
  .topical-block .view-content ul li .field {
    margin-bottom: 1.1em;
  }
  .topical-block .view-content ul li .field.field-name-field-highlight-image {
    margin: 0.6em 0 1em;
  }
  .topical-block .view-content ul li .field.field-name-field-highlight-more-label {
    margin-top: 1.1em;
  }
  .topical-block .view-content ul:nth-child(2n+1) {
    padding-left: 2%;
    padding-right: 0;
  }
  .topical-block .view-content .two-column li {
    margin-top: 0;
    padding-top: 0;
  }
  .topical-block .view-content .two-column li + li {
    margin-bottom: 1.4em;
    margin-top: 0.6em;
    padding: 1.25em 0 0 0;
  }
  .topical-block h2, .topical-block fieldset.webform-component-fieldset legend, fieldset.webform-component-fieldset .topical-block legend {
    margin: 0.7em 0 0 0;
  }
  .topical-block .attachment-after {
    padding: 45px 0;
  }
}

/*# sourceMappingURL=style.css.map */
