// Base files
@import "base/base";
@import "base/colors";
@import "base/mixins";
@import "base/normalize";
@import "base/fonts";
@import "base/extends";

// @todo make partials in the right way, so you can import all the rules
body {
  font-family: $font-family-default;
  line-height: 1.45;
}

@import "partials/elements";
@import "partials/layout";
