// Base files
@import "base/base";
@import "base/colors";
@import "base/mixins";
@import "base/normalize";
@import "base/fonts";
@import "base/extends";

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family-default;
  line-height: $line-height;
  font-size: $font-size-default;
}

// Basic styling
@import "partials/layout";
@import "partials/elements";
@import "partials/system";
@import "partials/forms";
@import "partials/menus";
@import "partials/popup";
@import "partials/breadcrumb";
@import "partials/maintenance";
@import "partials/search";
@import "partials/content";

// sasquatch (work in progress)
@import "partials/tabs";
@import "partials/messages";
@import "partials/contextual";

// Module styling
@import "modules/media";
@import "modules/webform";

// DVG Feature styling
@import "features/dvg_ct_basicpage";
@import "features/dvg_ct_block";
@import "features/dvg_ct_crisis_banner";
@import "features/dvg_ct_crisis_block";
@import "features/dvg_ct_external_link";
@import "features/dvg_ct_general_text";
@import "features/dvg_ct_guide";
@import "features/dvg_ct_live_blog";
@import "features/dvg_ct_news";
@import "features/dvg_ct_plan";
@import "features/dvg_ct_profile";
@import "features/dvg_ct_profile_group";
@import "features/dvg_ct_task";
@import "features/dvg_ct_webform";
@import "features/dvg_file_category_type";
@import "features/dvg_global";
@import "features/dvg_topical";
