.field-name-field-callus,
.field-name-field-referral-site {
  @extend .quote;

  padding-left: 0.95em;
}

.main-section {
  max-width: 51.875em;

  &.related-pages-enabled {

    @include respond-to($bp-width-4) {
      max-width: 35em;
      padding-right: 1em;
      position: relative;
      width: $width-content-desktop;

      ~ .section-list,
      ~ .field-name-field-sections {
        width: $width-content-desktop;
      }

    }

  }
}

.section-list {
  max-width: $width-content-max;

  ul {
    list-style: none;

    @extend %clearfix;

    li {
      @extend %no-margin-padding;

      a {
        display: block;
        padding: 0.75em;
        padding-left: 2.5em;
        position: relative;
      }
    }
  }
}

.field-name-field-sections {
  margin-bottom: 1.1em;
  max-width: $width-content-max;

  .task-section {
    display: block;
    padding-top: 2em;
  }
}

@include respond-to($bp-width-3) {
  .section-list.js {
    border-bottom: 1px solid $color-black1;

    ul {
      margin: 0 0 -1px 0;
      display: block;

      li {
        float: left;
        margin: 0 0 0 -1px;

        &.first {
          border-left: 1px solid $color-black1;
          margin-left: 0;
        }
        &.first a {
          border-left: none;
        }
        &.last a {
          border-right: 1px solid $color-black1;
        }
        a {
          padding: .8em 1.7em;
          border: 1px solid $color-black1;
        }

        &.active {
          a {
            border-bottom-color: $color-white1;
          }
        }
      }
    }
  }

  // Sections
  .field-name-field-sections.js {
    min-height: 100%;
    position: relative;
    z-index: 0;
    border: 1px solid $color-black1;
    border-top: none;

    .task-section {
      padding: 0;

      & > div {
        padding: 1em;
      }

      h2 {
        @include element-invisible;
      }
      li {
        margin-left: 0.9em;
        padding-left: 0.30em;
        padding-right: 30px;
      }
    }
  }
}
