.node-guide > .content ol.guide-menu {
  border-bottom: 1px solid $color-black1;
  font-weight: 600;

  max-width: 830px;
  padding-bottom: 1em;

  li {
    margin-bottom: 0.35em;
    padding-left: 0;

    a.active {
      color: $color-black1;
      text-decoration: none;
    }
  }
}

.node-guide > .content ul.guide-nav {
  border-top: 1px solid $color-black1;
  margin: 0;
  max-width: 830px;
  padding: 0.7em 0;

  li {
    display: inline-block;

    float: left;
    list-style: none;
    margin: 0;

    padding: 0.2em 0;
    width: 50%;

    &.next {
      float: right;
      text-align: right;

      &:after {
        @extend %iconfont-chevron;
        display: inline-block;
        font-size: 10px;
        margin-left: .5em;
      }
    }
    &.prev {
      position: relative;
      width: 49%;

      &:before {
        @extend %iconfont-chevron;
        display: inline-block;
        font-size: 10px;
        margin-right: .5em;
        @include transform(180deg);
      }
    }

    a {
      font-weight: 600;
      padding: 0 0.2em;
      text-transform: lowercase;
    }
  }
}