.front .node-block-full {
  @extend %clearfix;

  h2 {
    padding: 0;
  }
  p {
    margin-bottom: 1.45; // line-height
  }
  table {
    tr {
      background-color: transparent;
    }
    td {
      margin: 0;
      padding: 0;
    }
  }

  @include respond-to($bp-width-3) {
    .field-name-field-block-body {
      background: red;

      .field-item {
        float: left;
        width: 48%;

        &.odd {
          float: right;
          margin-left: 2%;
        }
      }
    }
  }
}
