.node-profile {

  @include respond-to($bp-width-2) {

    .field-name-field-image {
      float: left;
      margin-bottom: 30px;

      width: 48%;
    }
    .field-name-field-profile-contact-text {
      float: left;
      padding-left: 30px;
      width: 50%;
    }
    .field-name-body {
      clear: both;
    }
  }
  &.node-teaser {
    .field-item {
      float: none;
      margin-bottom: 0;
      width: 100%;
    }
    .field-name-field-image {
      float: none;
      margin-bottom: 1%;
      max-width: none;
      width: 100%;
    }
  }
}