.topical-block {
  @extend %clearfix;
  word-wrap: break-word;

  h2 {
    a {
      text-decoration: none;
    }
  }
  .view-content {
    ul {
      float: none;
      margin: 0;

      li {
        float: none;
        list-style: none;
        margin: 1.3em 0 1.2em 0;

        padding: 1.25em 0 0 0;
        width: 100%;

        &.views-row-first {
          margin-top: 0;
          padding-top: 0;
        }
        .topical-title {
          display: block;
          font-weight: 400;

          line-height: 1.4;
          margin: 0.6em 0 0 0;
          text-decoration: none;
        }
        .field {
          margin-bottom: 0.6em;

          &.field-name-field-highlight-image {
            margin: 0.6em 0 0.3em;
          }
        }
        .field-name-field-highlight-more-label {
          margin-top: 1.5em;
          position: relative;

          a:before {
            content: '\00bb'; // a.k.a &raquo;
            margin-right: 0.5em;
            text-decoration: none;
            font-weight: bold;
            display: inline-block;
          }
        }
      }
      li + li {
        border-top: 1px solid;
      }
    }
  }
  .attachment-after {
    border-top: 1px solid;
    clear: both;
    padding: 30px 0;
    text-align: center;
  }
  @include respond-to($bp-width-3) {
    .view-content {
      ul {
        float: left;
        padding-right: 2%;
        width: 50%;

        li {
          float: left;
          margin: 0;

          .field {
            margin-bottom: 1.1em;

            &.field-name-field-highlight-image {
              margin: 0.6em 0 1em;
            }
            &.field-name-field-highlight-more-label {
              margin-top: 1.1em;
            }
          }
        }
        &:nth-child(2n+1) {
          padding-left: 2%;
          padding-right: 0;
        }
      }
      .two-column {
        li {
          margin-top: 0;
          padding-top: 0;
        }
        li + li {
          margin-bottom: 1.4em;
          margin-top: 0.6em;
          padding: 1.25em 0 0 0;
        }
      }
    }
    h2 {
      margin: 0.7em 0 0 0;
    }

    .attachment-after {
      padding: 45px 0;
    }
  }
}
