.menu-content-block .node {
  .content {
    padding-top: 1em;
  }
}

.related-pages-section {
  @extend .quote;
  font-weight: normal;

  max-width: 830px;
  padding-left: 15px;

  @include respond-to($bp-width-2) {
    margin-top: 60px;
  }

  @include respond-to($bp-width-4) {
    margin: 0 0 10px 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $width-sidebar-desktop;
  }
  .field-name-field-title-related-pages {
    h2 {
      margin-top: 0;
    }
  }
  .field-name-field-related-pages,
  .field-name-field-related-guides {
    margin-bottom: 0;
    ul {
      @extend %no-margin-padding;

      li {
        @extend %no-margin-padding;

        background: none;
        list-style: none;

        a {
          display: block;
          font-family: $font-family-default;
          text-decoration: none;

          &:before {
            @extend %iconfont-chevron;
            display: inline-block;
            font-size: .8em;
            margin-right: .8em;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.field-name-field-publication-date {
  display: block;
  margin: 4px 0;

  .form-item {
    margin-bottom: 0;
  }
  .field-label,
  .field-items {
    display: inline-block;
    font-weight: 400;
  }
  .date-display-single {
    text-transform: lowercase;
  }
}
