.node-profile-group {
  max-width: 830px;

  .field-name-field-profile-group-profiles {
    margin-top: 50px;
  }
  .field-item {
    margin-bottom: 15px;
  }

  @include respond-to($bp-width-2) {
    .field-name-field-profile-group-profiles {
      .field-item {
        float: left;
        margin-bottom: 30px;
        width: 48%;

        &.even {
          margin-right: 4%;
        }
      }
    }
  }
}