.o-spatial-plan {
  .view-filters {
    border-bottom: 3px solid $color-black1;
    margin-bottom: 40px;
    max-width: 460px;
    padding-bottom: 30px;
  }
  .views-exposed-form {
    padding: 0 5px;

    label {
      font-weight: 300;
    }
    input[type=submit] {
      background: $color-black1;
      float: right;
      min-height: 32px;
      padding: 0;
      text-align: center;
      width: 103px;

      &:hover {
        box-shadow: none;
        margin: 2px 0 0 2px;
      }
    }
  }
  .view-content {
    .inspection {
      @extend %clearfix;

      background: $color-black1;
      color: $color-white1;
      display: inline-block;
      margin: 7px 0 3px;
      padding: 4px 14px;
      text-decoration: none;
      width: auto;
    }
  }
  select {
    width: 100%;
  }
}

@include respond-to($bp-width-3) {
  .o-spatial-plan {
    .view-filters {
      max-width: none;
    }
    .views-exposed-form {
      .views-exposed-widget {
        float: left;
      }
      input[type=submit] {
        float: none;
        margin-top: 24px;

        &:hover {
          margin-top: 26px;
        }
      }
      .views-widget-filter-title {
        margin-right: 10px;

        .form-item {
          width: 300px;
        }
      }
      .views-widget-filter-term_node_tid_depth {
        margin-right: 10px;
      }
      select {
        height: 32px;
        width: 200px;
      }
    }
  }
}
