.o-file {
  .view-content {
    margin-top: 10px;
    padding: 0;

    .views-row {
      margin-bottom: 38px;
      position: relative;

      .content {
        padding-left: 60px;

        .link-file {
          display: inline;
          line-height: 1;

          .file {
            left: 0;
            position: absolute;
            top: 0;
          }
        }
      }
    }
  }
}
