@import "compass";

$media-queries:               true !default;

$browser-context:             16;        // Default for em calculation.

$site-width:                  63.125em;  // 1010px / base font size 16px

$width-content-desktop:       70%;
$width-sidebar-desktop:       30%;

$width-intro-max:             35em;
$width-content-max:           45em;

$width-content-related-max:   45em;

$site-padding-1:              .625em;    // 10px / base font size 16px
$site-padding-2:              .9375em;   // 15px / base font size 16px
$site-padding-3:              1.25em;    // 20px / base font size 16px

$bp-width-1:                  26.5625em; // 425px  / base font size 16px
$bp-width-2:                  32.8125em; // 525px  / base font size 16px
$bp-width-3:                  43.75em;   // 700px  / base font size 16px
$bp-width-4:                  60em;      // 960px  / base font size 16px
$bp-width-5:                  64em;      // 1024px / base font size 16px
$bp-width-5:                  105em;     // 1680px / base font size 16px
$bp-width-5:                  120em;     // 1920px / base font size 16px

$bp-height-1:                 31.25em;   // 500px  / base font size 16px
$bp-height-2:                 43.75em;   // 700px  / base font size 16px
$bp-height-3:                 56.25em;   // 900px  / base font size 16px