//------------------------------------------------------------------------------
// Prime colors, blacks/whites/grays
//------------------------------------------------------------------------------

$color-black1:              #000;
$color-black2:              #0e0e0e;
$color-black3:              #0d0d0d;
$color-black4:              #0c0c0c;
$color-black5:              #0b0b0b;
$color-black6:              #0a0a0a;

$color-white1:              #fff;
$color-white2:              #fefefe;
$color-white3:              #fdfdfd;
$color-white4:              #fcfcfc;
$color-white5:              #fbfbfb;
$color-white6:              #fafafa;

$color-gray1:               #808080;
$color-gray2:               #aaa;
$color-gray3:               #bbb;
$color-gray4:               #ccc;
$color-gray5:               #ddd;
$color-gray6:               #eee;

//------------------------------------------------------------------------------
// Theme colors: keep the names generic! never use "green"
//------------------------------------------------------------------------------

$color-pri1:                #ff7f00;
//$color-pri2:              blue;

$color-sec1:                #395e72;
//$color-sec2:              lightblue;

//$color-ter1:              darkblue;
//$color-ter2:              darkblue;

//$color-quar1:             teal;
//$color-quar2:             teal;

//$color-penta1:            crimson;
//$color-penta2:            crimson;

$color-highlight1:          $color-pri1;

//------------------------------------------------------------------------------
// Element colors
//------------------------------------------------------------------------------

$color-font1:               $color-black1;

$color-link:                $color-highlight1;

$color-button-pri1:         $color-highlight1;

$color-border-pri1:         $color-gray1;

$color-error1:              #FF3F0D;
$color-succes1:             #14CC92;
$color-warning1:            #CC9A14;

$color-tabs1:               #0089B2;
$color-tabs2:               #00C4FF;

$color-h1:                  $color-pri1;
$color-h2:                  $color-sec1;
$color-h3:                  $color-sec1;
$color-h4:                  $color-sec1;

$color-input:               $color-black1;
$color-input-bg:            $color-white1;
$color-input-border:        $color-gray1;