//------------------------------------------------------------------------------
// Default modern clearfix for floating elements
//------------------------------------------------------------------------------

%clearfix,
.clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
//------------------------------------------------------------------------------
// Contain the top-margins of child elements with this clearfix-before.
//------------------------------------------------------------------------------
%clearfix-before {
  &:before {
    content: " ";
    display: table;
  }
}

%no-margin-padding {
  margin: 0;
  padding: 0;
}

%no-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

%link-with-icon {
  &::before {
    content: '\00bb'; // a.k.a &raquo;
    margin-right: 0.5em;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
  }
}

%input-text {
  padding: .3125em .5em;
  border: 1px solid $color-input-border;
  background-color: $color-input-bg;
  color: $color-input;
  outline: 0;
  &:hover {
    border-color: lighten($color-input-border, 10%);
    background-color: darken($color-input-bg, 1%);
  }
  &:focus {
    border-color: $color-highlight1;
    background-color: $color-input-bg;
  }
}

%input-file {
  padding: .125em .125em;
  border: 1px solid $color-input-border;
  background-color: $color-input-bg;
  color: $color-input;
  outline: 0;
  &:hover {
    border-color: lighten($color-input-border, 10%);
    background-color: darken($color-input-bg, 1%);
  }
  &:focus {
    border-color: $color-highlight1;
    background-color: $color-input-bg;
  }
}

%input-select {
  padding: .4375em .5em;
  border: 1px solid $color-input-border;
  background-color: $color-input-bg;
  color: $color-input;
  cursor: pointer;
  outline: 0;
  &:hover {
    border-color: lighten($color-input-border, 10%);
    background-color: darken($color-input-bg, 1%);
  }
  &:focus {
    border-color: $color-highlight1;
    background-color: $color-input-bg;
  }
}

%button {
  display: inline-block;
  max-width: 28.75em; // 460px
  width: auto;
  padding: .375em 1em;
  outline: 0; // be sure to set a clear focus state!
  border: 0;
  border-radius: 0; // IOS
  background-color: $color-button-pri1;
  color: $color-white1;
  vertical-align: top;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
  -webkit-appearance: none; // remove shadow in iOS
  &:hover,
  &:focus {
    background-color: darken($color-button-pri1, 10%);
    color: $color-white1; // link override
  }
  &:active {
    background-color: darken($color-button-pri1, 20%);
    color: $color-white1; // link override
  }
}

%button-icon {
  @extend %button;
  padding-right: 3em;
}

%link-file {
  display: inline-block;
  font-weight: 700;
  margin-right: 1em;
  vertical-align: top;

  .file {
    background-color: $color-black1;
    color: $color-white1;
    float: left;
    font-weight: 600;

    line-height: 1;
    margin-right: 1.1em;

    min-width: 3.4em;
    padding: 1.3em 0.3em 1.1em 0.3em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: bottom;
  }
}

//------------------------------------------------------------------------------
// js-hide: For anything you want to hide on page load when JS is enabled, so
// that you can use the JS to control visibility and avoid flicker.
//
// element-hidden: Hide elements from all users.
// Used for elements which should not be immediately displayed to any user. An
// example would be a collapsible fieldset that will be expanded with a click
// from a user. The effect of this class can be toggled with the jQuery show()
// and hide() functions.
//------------------------------------------------------------------------------

%element-hidden,
html.js .js-hide,
.element-hidden {
  display: none;
}

//------------------------------------------------------------------------------
// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
//
// The .element-focusable class extends the .element-invisible class to allow
// the element to be focusable when navigated to via the keyboard.
//------------------------------------------------------------------------------

%element-invisible,
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);

  &.element-focusable {
    &:active,
    &:focus {
      position: static !important;
      clip: auto;
    }
  }
}

//------------------------------------------------------------------------------
// Modern hide text.
//------------------------------------------------------------------------------
%hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

//------------------------------------------------------------------------------
// iconfont "dvg-abc" extends
//------------------------------------------------------------------------------

$iconfont-done: "\2714";
$iconfont-warning: "\26a0";
$iconfont-error: "\2716";
$iconfont-checkmark: "\2713";
$iconfont-cross: "\2715";
$iconfont-arrow: "\27a1";
$iconfont-chevron: "\203a";
$iconfont-triangle: "\25b6";
$iconfont-menu: "\2630";
$iconfont-options: "\2630";
$iconfont-search: "\1f50d";
$iconfont-refresh: "\27f3";
$iconfont-reload: "\27f3";
$iconfont-throbber: "\27f3";
$iconfont-drag: "\2725";
$iconfont-move: "\2725";
$iconfont-pencil: "\270e";
$iconfont-edit: "\270e";


%iconfont {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: 'dvg-abc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-indent: 0;

  // Enable Ligatures
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


%iconfont-done {
  @extend %iconfont;
  content: $iconfont-done;
}
%iconfont-warning {
  @extend %iconfont;
  content: $iconfont-warning;
}
%iconfont-error {
  @extend %iconfont;
  content: $iconfont-error;
}
%iconfont-checkmark {
  @extend %iconfont;
  content: $iconfont-checkmark;
}
%iconfont-cross {
  @extend %iconfont;
  content: $iconfont-cross;
}
%iconfont-arrow {
  @extend %iconfont;
  content: $iconfont-arrow;
}
%iconfont-chevron {
  @extend %iconfont;
  content: $iconfont-chevron;
}
%iconfont-triangle {
  @extend %iconfont;
  content: $iconfont-triangle;
}
%iconfont-menu {
  @extend %iconfont;
  content: $iconfont-menu;
}
%iconfont-options {
  @extend %iconfont;
  content: $iconfont-options;
}
%iconfont-search {
  @extend %iconfont;
  content: $iconfont-search;
}
%iconfont-refresh {
  @extend %iconfont;
  content: $iconfont-refresh;
}
%iconfont-reload {
  @extend %iconfont;
  content: $iconfont-reload;
}
%iconfont-throbber {
  @extend %iconfont;
  content: $iconfont-throbber;
}
%iconfont-drag {
  @extend %iconfont;
  content: $iconfont-drag;
}
%iconfont-move {
  @extend %iconfont;
  content: $iconfont-move;
}
%iconfont-pencil {
  @extend %iconfont;
  content: $iconfont-pencil;
}
%iconfont-edit {
  @extend %iconfont;
  content: $iconfont-edit;
}