//------------------------------------------------------------------------------
// Font-sizes, families and line heights.
//------------------------------------------------------------------------------

$font-family-default:         Arial, Helvetica, Verdana, sans-serif;
$font-family-alt:             Georgia, "Times New Roman", Times, serif;
$font-family-icon:            "dvg-abc";
$font-size-default:           100%;
$line-height:                 1.5;
$font-margin:                 1.3em;

$icomoon-font-path: "../fonts" !default;

// @todo define more font ratios from http://type-scale.com/

// Major Second - mobile
$font-size-ms-super:             2.125em;  // h1 - 34px
$font-size-ms-xlarge:            1.3125em; // h2 - 21px
$font-size-ms-large:             1.25em;   // h3 - 20px
$font-size-ms-medium:            1.125em;  // h4 - 18px
$font-size-ms-regular:           1em;      // p  - 16px
$font-size-ms-small:             .889em;   // small
$font-size-ms-tiny:              .79em;    // sub/sup

// Major Third - tablet
$font-size-mt-super:             2.375em;  // h1 - 38px
$font-size-mt-xlarge:            1.375em;  // h2 - 22px
$font-size-mt-large:             1.25em;   // h3 - 20px
$font-size-mt-medium:            1.125em;  // h4 - 18px
$font-size-mt-regular:           1em;      // p  - 16px
$font-size-mt-small:             .875em;   // small
$font-size-mt-tiny:              .625em;   // sub/sup

// Argumented Fourth - desktop
$font-size-af-super:             2.75em;   // h1      - 44px
$font-size-af-xlarge:            1.5em;    // h2      - 24px
$font-size-af-large:             1.25em;   // h3      - 20px
$font-size-af-medium:            1.125em;  // h4      - 18px
$font-size-af-regular:           1em;      // p       - 16px
$font-size-af-small:             .875em;   // small   - 14px
$font-size-af-tiny:              .625em;   // sub/sup - 10px

//------------------------------------------------------------------------------
// fontface space
//------------------------------------------------------------------------------

// iconfont "dvg-abc" generated with icomoon.io
@font-face {
  font-family: $font-family-icon;
  src:
    url('#{$icomoon-font-path}/dvg-abc.ttf?8yh791') format('truetype'),
    url('#{$icomoon-font-path}/dvg-abc.woff?8yh791') format('woff'),
    url('#{$icomoon-font-path}/dvg-abc.svg?8yh791#dvg-abc') format('svg');
  font-weight: normal;
  font-style: normal;
}

//------------------------------------------------------------------------------
// Extends for font-size changes. Make fonts change on width or height BP.
//------------------------------------------------------------------------------

// Respond to height

%font-size-super {
  font-size: $font-size-ms-super;
  @include respond-to-height($bp-height-2) {
    font-size: $font-size-mt-super;
  }
  @include respond-to-height($bp-height-3) {
    font-size: $font-size-af-super;
  }
}

%font-size-xlarge {
  font-size: $font-size-ms-xlarge;
  @include respond-to-height($bp-height-2) {
    font-size: $font-size-mt-xlarge;
  }
  @include respond-to-height($bp-height-3) {
    font-size: $font-size-af-xlarge;
  }
}

%font-size-large {
  font-size: $font-size-ms-large;
  @include respond-to-height($bp-height-2) {
    font-size: $font-size-mt-large;
  }
  @include respond-to-height($bp-height-3) {
    font-size: $font-size-af-large;
  }
}

%font-size-medium {
  font-size: $font-size-ms-medium;
  @include respond-to-height($bp-height-2) {
    font-size: $font-size-mt-medium;
  }
  @include respond-to-height($bp-height-3) {
    font-size: $font-size-af-medium;
  }
}

%font-size-regular {
  font-size: 1em;
}

%font-size-small {
  font-size: $font-size-ms-small;
  @include respond-to-height($bp-height-2) {
    font-size: $font-size-mt-small;
  }
  @include respond-to-height($bp-height-3) {
    font-size: $font-size-af-small;
  }
}

%font-size-tiny {
  font-size: $font-size-ms-tiny;
  @include respond-to-height($bp-height-2) {
    font-size: $font-size-mt-tiny;
  }
  @include respond-to-height($bp-height-3) {
    font-size: $font-size-af-tiny;
  }
}
