//------------------------------------------------------------------------------
// Add media queries to elements, make them responds to width.
//------------------------------------------------------------------------------
@mixin respond-to($min-width, $max-width: false) {
  @if $media-queries {
    @media screen and (min-width: $min-width) {
      @if $max-width {
        @media (max-width: $max-width) {
          @content
        }
      } @else {
        @content;
      }
    }
  } @else {
    // Media query content
    @content;
  }
}
//------------------------------------------------------------------------------
// Add media queries to elements, make them responds to height.
//------------------------------------------------------------------------------
@mixin respond-to-height($min-height, $max-height: false) {
  @if $media-queries {
    @media (min-height: $min-height) {
      @if $max-height {
        @media (max-height: $max-height) {
          @content
        }
      } @else {
        @content;
      }
    }
  } @else {
    // Media query content
    @content;
  }
}

//------------------------------------------------------------------------------
// SASS function to calculate EM from pixels. Make sure your $browser-context
// is set to the correct base font size.
//------------------------------------------------------------------------------
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//------------------------------------------------------------------------------
//  Mixin for Compass - border-image
//  $border-image([$image-url], [$offsets], [$repeats])
//  Example:
//  @include border-image(url(../my_image.png), 10, stretch)
//  @include border-image(url(../my_image.png), 10 5 10 5, stretch repeat)
//------------------------------------------------------------------------------

@mixin border-image($url, $offsets, $repeats) {
  @include experimental("border-image", $url $offsets $repeats, -moz, not -webkit, -o, -ms, -khtml, official);
}

//------------------------------------------------------------------------------
// Only for use within mediaqueries.
// Else it's better to extend: %element-invisible
//------------------------------------------------------------------------------
@mixin element-invisible {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
}

@mixin transform ($deg: 180deg){
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}

// rotate animation

@-webkit-keyframes rotate { // android prefix
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin rotate ($time: 800ms) {
  -ms-animation: rotate $time linear infinite;
  animation: rotate $time linear infinite;
}