.r-breadcrumbs {
  .wrapper-breadcrumb {
    @extend %no-margin-padding;
    position: relative;
  }
}

.breadcrumb {
  height: auto;
  line-height: 2.5;

  a {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}