//------------------------------------------------------------------------------
// Drupal default: contextual links styling
//------------------------------------------------------------------------------

.block-views > .contextual-links-wrapper {
  right: 30px;
}

.block,
.block-bean,
.block-views {
  > .contextual-links-wrapper {
    right: 0;
    left: 0;
    margin: auto;
    height: 30px;
    width: 30px;
    top: -15px;
  }
}

.contextual-links-region {
  outline: none;
  position: relative;
}

.contextual-links-region-active {
  outline: $color-tabs1 dashed 2px;
  z-index: 100;
}

div.contextual-links-wrapper {
  display: none;
  font-size: 90%;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
}

html.js div.contextual-links-wrapper {
  display: block;
}

a.contextual-links-trigger {
  position: relative;
  display: none;
  height: 30px;
  width: 30px;
  background-color: $color-white1;
  border: 2px solid $color-tabs1;
  border-radius: 17px;
  margin: 0;
  padding: 0 2px;
  outline: none;
  text-indent: 34px;
  overflow: hidden;
  &:before {
    @extend %iconfont-pencil;
    position: absolute;
    margin: auto;
    text-align: center;
    left: 0;
    right: 0;
    top: 6px;
    color: $color-tabs1;
  }
  &:hover {
    &:before {
      color: lighten($color-tabs1, 10%);
    }
  }
}

div {
  &.contextual-links-active a.contextual-links-trigger {
    border-color: $color-tabs1;
    border-bottom: none;
    position: relative;
    box-shadow: none;
    z-index: 1;
    -moz-border-radius: 17px 17px 0 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    border-radius: 17px 17px 0 0;
    &:before {
      color: lighten($color-tabs1, 10%);
    }
  }
  &.contextual-links-wrapper ul.contextual-links {
    background-color: $color-white1;
    border: 2px solid $color-tabs1;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 28px;
    white-space: nowrap;
    border-radius: 5px 0 5px 5px;
  }
}

a.contextual-links-trigger-active {
  display: block;
}

div.contextual-links-active {
  a.contextual-links-trigger, ul.contextual-links {
    display: block;
  }
}

ul.contextual-links li {
  line-height: 100%;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; 
}

div.contextual-links-wrapper a {
  text-decoration: none;
}

ul.contextual-links li a {
  color: $color-font1!important;
  display: block;
  margin: 0;
  padding: 10px;
  &:hover {
    background-color: $color-tabs1;
    color: $color-white1!important;
  }
}