.link-file {
  @extend %link-file;
}

.attention {
  margin: 0 0 1.25em 0;
  padding-left: 34px;
  position: relative;

  &:after {
    background-color: $color-pri1;
    color: $color-white1;
    content: '!';
    display: block;
    height: 1.112em;
    left: 0;
    line-height: 1.1;

    position: absolute;
    text-align: center;
    top: 0.2em;
    font-size: $font-size-af-medium;
    width: 1.112em;
  }

  // Larger box.
  &.big {
    display: inline-block;
    font-weight: 600;
    padding-left: 58px;

    &:after {
      height: 1.05em;
      line-height: 1.1;
      top: 0.09em;
      @extend %font-size-xlarge;
      width: 1.05em;
    }
    @include respond-to($bp-width-5) {
      line-height: 1.6;
    }
  }
}

.quote {
  margin: 0 1em 1.25em 0;
  padding-left: 1em;

  border-left: 1px solid $color-pri1;
}
