//------------------------------------------------------------------------------
// Headings
//------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h1 {
  @extend %font-size-super;
  color: $color-h1;
  a {
    color: $color-h1;
    &:hover,
    &:focus {
      color: darken($color-h1,10%);
    }
    &:active {
      color: darken($color-h1,20%);
    }
    &:visited {
    }
  }
}

h2 {
  @extend %font-size-xlarge;
  color: $color-h2;
  a {
    color: $color-h2;
    &:hover,
    &:focus {
      color: darken($color-h2,10%);
    }
    &:active {
      color: darken($color-h2,20%);
    }
    &:visited {
    }
  }
}

h3 {
  @extend %font-size-large;
  color: $color-h3;
  a {
    color: $color-h3;
    &:hover,
    &:focus {
      color: darken($color-h3,10%);
    }
    &:active {
      color: darken($color-h3,20%);
    }
    &:visited {
    }
  }
}

h4, h5, h6 {
  @extend %font-size-medium;
  color: $color-h4;
  a {
    color: $color-h4;
    &:hover,
    &:focus {
      color: darken($color-h4,10%);
    }
    &:active {
      color: darken($color-h4,20%);
    }
    &:visited {
    }
  }
}
//------------------------------------------------------------------------------
// defaults: links, paragraph, images, etc.
//------------------------------------------------------------------------------

a {
  color: $color-link;
  &:hover,
  &:focus {
    color: darken($color-link,10%);
  }
  &:active {
    color: darken($color-link,20%);
  }
  &:visited {
  }
}

p {
  margin-top: $font-margin;
  margin-bottom: $font-margin;
}

img, object, video {
  max-width: 100%;
  vertical-align: top; // removes whitespace pixels
  height: auto;
}

img {
  border: none;
}

hr {
  margin: $font-margin 0;
  height: 1px;
  border: none;
  background: $color-border-pri1;
}

//------------------------------------------------------------------------------
// Lists
//------------------------------------------------------------------------------

ul, ol {
  list-style-position: outside;
  padding: 0;
  margin-top: 0;
  margin-bottom: $font-margin;

  li {

  }
}

li {
  ul, ol {
    margin: 0 1.625em;
  }
}

ul {
  list-style-type: square;

  li {
    margin-left: 1.4em;
    padding-left: .3em;
  }
  &.inline {
    @extend %clearfix;
    margin-bottom: 0;
    li {
      float: left;
    }
  }
}

ol {
  list-style-type: decimal;

  li {
    margin-left: 2em;
    padding-left: .3em;
  }
}

dl {
  dd {
    margin-left: 1.625em;
  }
}

//------------------------------------------------------------------------------
// Table
//------------------------------------------------------------------------------

table {
  border: 1px solid $color-border-pri1;
  border-collapse: collapse;
  margin-bottom: $font-margin;
  width: 100%;
  th {
    text-align: left;
    font-weight: normal;
  }
  th,
  tr,
  td {
    border: 1px solid $color-border-pri1;
    padding: .5625em .3125em;
    vertical-align: text-top;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
