//------------------------------------------------------------------------------
// input fields
//------------------------------------------------------------------------------

input {

  &[type=date],
  &[type=file],
  &[type=week],
  &[type=url],
  &[type=time],
  &[type=tel],
  &[type=search],
  &[type=number],
  &[type=email],
  &[type=password],
  &[type=text] {
  }

  &[readonly="readonly"] {
    background-color: $color-gray5;
    cursor: not-allowed;
    &:hover,
    &:focus {
      border-color: $color-border-pri1;
      background-color: $color-gray5;

    }
  }

  //------------------------------------------------------------------------------
  // textfields
  //------------------------------------------------------------------------------

  &[type=text] {
    @extend %input-text;
  }
  &[type=url] {
    @extend %input-text;
  }
  &[type=search] {
    @extend %input-text;
  }
  &[type=email] {
    @extend %input-text;
  }
  &[type=password] {
    @extend %input-text;
  }

  //------------------------------------------------------------------------------
  // numbers
  //------------------------------------------------------------------------------

  &[type=number] {
    @extend %input-text;
  }
  &[type=tel] {
    @extend %input-text;
  }
  &[type=range] {
    @extend %input-text;
  }

  //------------------------------------------------------------------------------
  // date/time
  //------------------------------------------------------------------------------

  &[type=date] {
    @extend %input-text;
  }
  &[type=datetime] {
    @extend %input-text;
  }
  &[type=datetime-local] {
    @extend %input-text;
  }
  &[type=time] {
    @extend %input-text;
  }
  &[type=week] {
    @extend %input-text;
  }
  &[type=month] {
    @extend %input-text;
  }

  //------------------------------------------------------------------------------
  // extra
  //------------------------------------------------------------------------------

  &[type=file] {
    @extend %input-file;
  }

  &[type=color] {
    @extend %input-text;
  }

  &[type=hidden] {
    display: none;
  }

  //------------------------------------------------------------------------------
  // buttons
  //------------------------------------------------------------------------------

  &[type=button] {
    @extend %button;
  }
  &[type=submit] {
    @extend %button;
    &[value=Remove],
    &[value=Verwijderen] {
      background-color: $color-error1;
    }
    &[value=Upload],
    &[value=Uploaden] {
      background-color: $color-succes1;
    }
  }
  &[type=image] {
    @extend %input-select;
    padding: .5625em;
  }
  &[type=reset] {
    @extend %button;
  }

  //------------------------------------------------------------------------------
  // checkboxes/radiobuttons
  //------------------------------------------------------------------------------

  &[type=checkbox] {
    padding: 0;
    margin: 0 0.4em 0 0;
    cursor: pointer;
  }

  &[type=radio] {
    padding: 0;
    margin: 0 0.4em 0 0;
    cursor: pointer;
  }

  //------------------------------------------------------------------------------
  // class or attribute based styling
  //------------------------------------------------------------------------------

  &.day,
  &.month,
  &.year {
    width: auto;
  }

  &[type="submit"][id^="edit-submit"],
  &[id^="save-continue"],
  &[type="submit"][id^="edit-save"] {
    background-color: green;
  }
}


//------------------------------------------------------------------------------
// select list
//------------------------------------------------------------------------------

select {
  @extend %input-select;

  &.day,
  &.month,
  &.year {
    width: auto;
  }
}

//------------------------------------------------------------------------------
// textareas
//------------------------------------------------------------------------------

textarea {
  @extend %input-text;
}

//------------------------------------------------------------------------------
// Resizable textareas.
// @see textarea.js
//------------------------------------------------------------------------------

.form-textarea-wrapper {
  textarea {
    display: block;
    margin: 0;
    width: 100%;
  }
}
.resizable-textarea {
  textarea {
    resize: none;
    border-bottom: 0;
  }
}

.grippie {
  position: relative;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  background-color: $color-border-pri1;
  overflow: hidden;
  &:after,
  &:before {
    content: " ";
    position: absolute;
    width: 5%;
    min-width: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  &:before {
    position: absolute;
    height: 3px;
    border-top: 1px solid $color-white1;
    border-bottom: 1px solid $color-white1;
  }
  &:after {
    position: absolute;
    height: 0;
    border-top: 1px solid $color-white1;
  }
}
//------------------------------------------------------------------------------
// Fieldset
//------------------------------------------------------------------------------

fieldset {
  @extend %clearfix;

  padding: 20px;
  margin: 0 0 1.5em 0;

  .fieldset-description {
    margin: 0 0 1em 0;
    line-height: 1.4;
  }

  legend {
    position: relative;
    margin: 0 0 0 -5px;
    padding: 0 5px;
  }

  &.fieldset-no-border {
    margin: 0 0 30px 0;
    padding: 0;
    border: none;

    &:last-child {
      margin: 0;
    }
    legend {
      margin-bottom: 5px;
      font-weight: 600;
    }
    .fieldset-legend {
      @extend label;
      padding: 0;
    }
  }
  &.webform-component-fieldset {
    margin-bottom: 0;
    padding: 0;
    border: 0;

    legend {
      @extend h2;

      font-weight: 600;
      padding: 0;
      margin-bottom: 5px;
    }
  }
}

//------------------------------------------------------------------------------
// class based forms styling
//------------------------------------------------------------------------------

.webform-component-number {
  select {
    width: auto;
  }
}

.btn,
.webform-submit {
  @extend %button;
}

.submit-link {
  @extend %font-size-regular;

  padding: 0;
  background: transparent;
  border: none;
  font-family: $font-family-default;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

// Managed file (file + upload button)
.form-managed-file {
  input[type="file"] {
    margin-bottom: 0.8em;
  }
  input[type="submit"],
  input[type="button"] {
    margin-left: 10px;
    max-width: none;
    width: auto;
  }
}

label {
  padding: 0;
  margin: 0;
  display: block;
  font-weight: bold;
}

// Labels next to checkbox / radio.
input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: normal;
  display: inline;
  cursor: pointer;
}

.form-actions {
  @extend %clearfix;
  margin: 2.5em 0 0 0;
  max-width: 28em;
}

.button-primary {
  @extend %button;
}

.form-item {

  // Form label.
  > label:first-child {
    //margin: 0 0 5px 0;
  }

  // Remove margin on last form item.
  + .form-item:last-child {
    //margin-bottom: 0;
  }

  // Double form-item.
  .form-item {
    //margin: 0 5px 0 0;
  }

  // Form item description.
  .description {
    margin-top: 0.3em;
  }

}
.form-type-radio,
.form-type-checkbox {
  margin-bottom: 0;
}
