.region > .inner {
  max-width: $site-width + ($site-padding-1 * 2);
  padding-left: $site-padding-1;
  padding-right: $site-padding-1;
  margin-left: auto;
  margin-right: auto;

  @include respond-to($bp-width-3) {
    max-width: $site-width + ($site-padding-2 * 2);
    padding-left: $site-padding-2;
    padding-right: $site-padding-2;

  }
  @include respond-to($bp-width-5) {
    max-width: $site-width + ($site-padding-3 * 2);
    padding-left: $site-padding-3;
    padding-right: $site-padding-3;

  }
}

.node,
.file {
  > .content {
    position: relative;
  }
}

.block-logo {
  float: left;
  width: 49%;
}

.block-system {
  max-width: 100%;
}

.field {
  margin-bottom: 1.1em;

  &.field-type-file {
    .field-item {
      margin-bottom: 1em;
    }
  }
  .embed .field {
    margin-bottom: 0;
  }
  .group-buttons & .btn-small {
    font-weight: 600;
    margin: 2.667em 0;
  }

  .group-buttons &:first-child .btn-small {
    @extend %button;

    font-weight: normal;
    text-decoration: none;
  }
}
.r-header {
  background-color: $color-gray5;
  margin-bottom: 1em;
  > .inner {
    @extend %clearfix;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.r-footer-top,
.r-footer-bottom {
  background-color: $color-gray5;
  > .inner {
    @extend %clearfix;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.footer-line {
  @extend %clearfix;

  display: block;
  margin-bottom: 1.4em;

  @include respond-to($bp-width-2) {
    margin-bottom: 1em;

    p {
      display: inline-block;
      float: left;
      margin-bottom: 0;
    }
    p + p {
      margin-left: 0.3em;
    }
    p + p + p {
      margin-left: 0;

      &:before {
        content: ",";
        padding-right: 5px;
      }
    }
  }
}
