body.maintenance-page {
  height: auto;
  min-height: 100%;

  //------------------------------------------------------------------------------
  // .db-offline is used to target the install pages of drupal.
  //------------------------------------------------------------------------------
  &.db-offline {

    .r-header {
      background: transparent;
    }
    .sidebar {
      display: inline-block;
      width: 30%;
    }
    .content {
      display: inline-block;
      width: 65%;
      min-height: 250px;
      padding-left: 5%;

      vertical-align: top;
    }

    .task-list {
      list-style-type: none;

      li {
        position: relative;
        margin: 0 0 10px 0;
        padding: 0 0 0 40px;
        &:before {
          @extend %iconfont;
          position: absolute;
          left: 0;
          width: 2.5em;
          height: 2.5em;
          text-align: center;
          line-height: 2.5em;
          border-radius: 100%;
          font-size: 0.6em;
          color: $color-white1;
        }
        &.done {
          &:before {
            content: $iconfont-done;
            background-color: $color-succes1;
          }
        }
        &.active {
          &:before {
            content: $iconfont-arrow;
            background-color: $color-warning1;
          }
        }
        &.error {
          &:before {
            content: $iconfont-error;
            background-color: $color-error1;
          }
        }
      }
    }
    //------------------------------------------------------------------------------
    // Module: Messages.
    //------------------------------------------------------------------------------

    .messages {
      word-wrap: break-word;
      position: relative;
      margin: 0 0 40px 0;
      padding: 20px 70px 20px 20px;
      border-left: 5px solid;

      li {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }

      .inline-info {
        font-family: $font-family-default;
      }

      .menu {
        margin-bottom: 0;
      }
      &:before {
        background: none;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: none;
        }
      }

      &:after {
        @extend %iconfont;
        position: absolute;
        top: .75em;
        right: .75em;
        height: 2.5em;
        width: 2.5em;
        line-height: 2.5em;
        color: $color-white1;
        border-radius: 100%;
        text-align: center;
      }

      // Succes message.
      &.status {
        background-color: lighten($color-succes1, 45%);
        border-color: $color-succes1;

        &:after {
          content: $iconfont-done;
          background-color: darken($color-succes1, 10%);
        }
      }
      // Warning message.
      &.warning {
        background-color: lighten($color-warning1, 25%);
        border-color: $color-warning1;

        &:after {
          content: $iconfont-warning;
          background-color: darken($color-warning1, 10%);
        }
      }
      // Error message.
      &.error {
        background-color: lighten($color-error1, 28%);
        border-color: $color-error1;

        &:after {
          content: $iconfont-error;
          background-color: darken($color-error1, 10%);
        }
      }
    }

    //------------------------------------------------------------------------------
    // Module: Forms.
    //------------------------------------------------------------------------------

    input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="radio"]):not([type="checkbox"]):not([type="number"]):not([type="password"]), select, input[type="number"], body.maintenance-page .form-type-password input[type="password"] {
      max-width: none;
    }

    .form-type-password {
      position: relative;
      margin-bottom: 13px;

      .password-strength,
      div.password-confirm {
        position: absolute;
        right: 0;
        top: 25px;
        width: 45%;

        text-align: left;
      }
      input[type="password"] {
        @extend %input-text;

        width: 50%;
      }
      label {
        margin: 0 0 5px;
      }
    }
    .password-strength {
      .password-strength-title {
        float: left;
      }
      .password-strength-title,
      .password-strength-text {
        display: inline-block;
        padding-right: 5px;
      }
      .password-indicator {
        display: inline-block;
        margin: 5px 0 8px 0;
        width: 100%;

        .indicator {
          float: left;
          height: .2em;
        }
      }
    }
    .password-suggestions {
      position: relative;
      display: block;
      height: auto;
      ul {
        float: right;
        text-align: left;

        width: 45%;

        li {
          margin-bottom: 0;
          margin-left: 0.75em;
        }
      }
    }

    //------------------------------------------------------------------------------
    // Module: Progress.
    //------------------------------------------------------------------------------
    .progress .bar {
      background-color: $color-white1;
    }
    .progress .filled {
      height: 1.5em;
      width: 5px;
    }
    .progress .percentage {
      float: right; // LTR
    }
  }
}