.block-menu-block {
  @extend %clearfix;

  ul.menu {
    @extend %no-list;

    & > li {
      margin-bottom: $font-margin;

      h2,
      h3 {
        margin: 0;

        a {
          word-wrap: break-word;
        }
      }

      .description,
      .nolink {
        display: block;
      }
    }
  }
}

@include respond-to($bp-width-3) {
  .block-menu-block ul.menu {
    & > li {
      width: 50%;
      float: left;
    }

    & > li:nth-child(odd) {
      clear: left;
      padding-right: .5em;
    }

    & > li:nth-child(even) {
      float: right;
      clear: right;
      padding-left: .5em;
    }
  }
}

.social-menu {
  @include respond-to($bp-width-2) {
    float: left;
    width: 50%;
  }

  ul.menu {
    @extend %no-list;

    li {
      margin: 0 0 1em 0;
    }

    a {
      @extend %link-with-icon;
    }
  }
}

.footer-menu {
  @include respond-to($bp-width-2) {
    display: inline-block;
    width: 49%;
  }

  ul.menu {
    @extend %no-list;

    @include respond-to($bp-width-5) {
      padding-right: 0;
    }

    li {
      margin: 0 0 1em 0;

      @include respond-to($bp-width-2) {
        display: inline-block;
        width: 49%;
      }

      a {
        @extend %link-with-icon;
      }
    }
  }
}

.user-menu {
  line-height: 2;
  text-align: right;

  h2 {
    display: inline-block;
    margin: 0;
    font-family: $font-family-default;
    font-weight: normal;
  }
  .content {
    font-family: $font-family-default;
    display: inline-block;
  }
  .menu {
    display: inline-block;
    margin: 0;

    li {
      @extend %no-margin-padding;
      list-style: none;
    }
  }
  @include respond-to($bp-width-2) {
    margin: 0 1.5em
  }
  @include respond-to($bp-width-3) {
    margin: 0 4em;
  }
}
