//------------------------------------------------------------------------------
// Drupal default: status messages
//------------------------------------------------------------------------------

.messages {
  word-wrap: break-word;
  position: relative;
  margin: 0 0 40px 0;
  padding: 20px 70px 20px 20px;
  border-left: 5px solid;

  li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  a {
    color: $color-font1;
    background-color: $color-white1;
    padding: .1875em .3125em;
    &:hover {

    }
  }

  .inline-info {
    font-family: $font-family-default;
  }

  .menu {
    margin-bottom: 0;
  }
  &:before {
    background: none;
  }

  &:after {
    @extend %iconfont;
    position: absolute;
    top: .75em;
    right: .75em;
    height: 2.5em;
    width: 2.5em;
    line-height: 2.5em;
    color: $color-white1;
    border-radius: 100%;
    text-align: center;
  }

  // Succes message.
  &.status {
    background-color: lighten($color-succes1, 45%);
    border-color: $color-succes1;

    &:after {
      content: $iconfont-done;
      background-color: darken($color-succes1, 10%);
    }

    a {
      color: white;
      background-color: darken($color-succes1, 15%);
      &:focus,
      &:hover {
        background-color: darken($color-succes1, 25%);
      }
    }
  }
  // Warning message.
  &.warning {
    background-color: lighten($color-warning1, 25%);
    border-color: $color-warning1;

    &:after {
      content: $iconfont-warning;
      background-color: darken($color-warning1, 10%);
    }

    a {
      color: white;
      background-color: darken($color-warning1, 15%);
      &:focus,
      &:hover {
        background-color: darken($color-warning1, 25%);
      }
    }
  }
  // Error message.
  &.error {
    background-color: lighten($color-error1, 28%);
    border-color: $color-error1;

    &:after {
      content: $iconfont-error;
      background-color: darken($color-error1, 10%);
    }

    a {
      color: white;
      background-color: darken($color-error1, 15%);
      &:focus,
      &:hover {
        background-color: darken($color-error1, 25%);
      }
    }
  }
}