.popup-overlay {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.popup-content {
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;

  left: 0;
  overflow: scroll;
  padding: 20px;
  position: fixed;

  top: 0;
  width: 100%;
  z-index: 10001;

  @include respond-to($bp-width-3) {
    height: auto;
    left: 20%;
    overflow: visible;
    top: 12.5%;
    width: 60%;
  }
  h2 {
    width: 90%;
  }
  .close-x {
    background: none;
    border: none;
    color: red;
    position: absolute;
    right: 15px;
    top: 15px;

    &:hover {
      cursor: pointer;
    }
  }
  .close-button {
    @extend %button;

    background-color: #9DD11A !important;

    &:hover {
      background-color: #82AE13 !important;
    }
  }
}
