.o-search {
  .view-content {
    padding: 0;
  }
  .field {
    margin-bottom: 0;
  }
}

$search-width-submit: 88px;

.search-block {
  .r-header & {
    float: right;
    width: 49%;
  }

  label {
    @extend %element-invisible;
  }

  .form-item {
    margin-bottom: 0;
  }

  .form-text {
    width: calc(100% - #{$search-width-submit});
  }

  .form-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: $search-width-submit;
  }

  .views-widget-filter-search_api_views_fulltext {
    width: 100%;
  }
  .views-exposed-widgets {
    position: relative;
  }

}

::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder { // Firefox 18-
  opacity: 1;
}

::-moz-placeholder {  // Firefox 19+
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}