//------------------------------------------------------------------------------
// @file
// Generic theme-independent base styles.
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// Autocomplete.
// @see autocomplete.js
//------------------------------------------------------------------------------

// Suggestion list
#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    background: $color-white1;
    color: $color-black1;
    cursor: default;
    white-space: pre;
  }
}

// Animated throbber
html.js {
  input {
    background-position: right .3125em center; // LTR
    background-repeat: no-repeat;
    &.form-autocomplete {
      background-image: url(../images/throbber-inactive.svg);
    }
    &.throbbing {
      background-image: url(../images/throbber-active.svg);
    }
  }
  fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
    .fieldset-wrapper {
      display: none;
    }
  }
}


//------------------------------------------------------------------------------
// Collapsible fieldsets.
// @see collapse.js
//------------------------------------------------------------------------------

fieldset.collapsible {
  position: relative;
  .fieldset-legend {
    display: block;
  }
}

//------------------------------------------------------------------------------
// TableDrag behavior.
// @see tabledrag.js
//------------------------------------------------------------------------------

body.drag {
  cursor: move;
}

.draggable a.tabledrag-handle {
  cursor: move;
  float: left; // LTR
  height: 1.7em;
  margin-left: -1em; //LTR
  overflow: hidden;
  text-decoration: none;
}

a {
  &.tabledrag-handle {
    &:hover {
      text-decoration: none;
    }
    .handle {
      position: relative;
      width: 16px;
      height: 16px;
      margin: -0.4em 0.5em; // LTR
      &:before {
        @extend %iconfont-drag;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: $color-gray1;
      }
    }
  }
  &.tabledrag-handle-hover .handle {
    &:before {
      color: $color-black1;
    }
  }
}

div {
  &.indentation {
    float: left; // LTR
    height: 1.5em;
    margin-right: .3125em;
    width: .75em;
    position: relative;
    &:after,
    &:before {
      content: " ";
      position: absolute;
      background-color: $color-border-pri1;
    }
  }
  &.tree-child {
    &:before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      height: 1px;
    }
    &:after {
      left: 0;
      top: 0;
      bottom: 0;
      width: 1px;
    }
  }
  &.tree-child-last {
    &:before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      height: 1px;
    }
    &:after {
      left: 0;
      top: 0;
      bottom: 50%;
      width: 1px;
    }
  }
  &.tree-child-horizontal {
    &:before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      height: 1px;
    }
  }
}

.tabledrag-toggle-weight-wrapper {
  text-align: right; // LTR
}


//------------------------------------------------------------------------------
// TableHeader behavior.
// @see tableheader.js
//------------------------------------------------------------------------------

table.sticky-header {
  background-color: $color-white1;
  margin-top: 0;
}

//------------------------------------------------------------------------------
// Progress behavior.
// @see progress.js
//------------------------------------------------------------------------------

// Bar
.progress {
  .bar {
    background-color: $color-gray5;
  }
  .filled {
    background-color: $color-highlight1;
    height: 1em;
    width: 0;
  }
  .percentage {
    float: right; // LTR
  }
}

.password-indicator {
  background-color: $color-gray1;
  height: .3em;
  .indicator {
    height: 100%;
    background-color: $color-highlight1;
    &[style*="0%"] {
      background-color: $color-error1;
    }
    &[style*="50%"] {
      background-color: $color-warning1;
    }
    &[style*="100%"] {
      background-color: $color-succes1;
    }
  }
}


//Password strength indicator.

.password-strength {
  width: 17em;
  float: right;
  /* LTR */
  margin-top: 1.4em;
}

.password-strength-title {
  display: inline;
}

.password-strength-text {
  float: right;
  /* LTR */
  font-weight: bold;
}

.password-indicator {
  background-color: $color-gray1;
  height: .3em;
  width: 100%;
  .indicator {
    height: 100%;
    width: 0%;
    background-color: $color-highlight1;
    transition: width 500ms;

    &[style*="47.5%"],
    &[style*="42.5%"],
    &[style*="40%"],
    &[style*="35%"],
    &[style*="30%"],
    &[style*="25%"],
    &[style*="20%"],
    &[style*="15%"],
    &[style*="10%"],
    &[style="width: 5%;"],
    &[style="width: 0%;"] {
      background-color: $color-error1;
    }
    &[style*="70%"],
    &[style*="65%"],
    &[style*="60%"],
    &[style*="55%"],
    &[style*="50%"] {
      background-color: $color-warning1;
    }
    &[style*="75%"],
    &[style*="80%"],
    &[style*="85%"],
    &[style*="87.5%"],
    &[style*="90%"],
    &[style*="95%"],
    &[style*="100%"] {
      background-color: $color-succes1;
    }
  }
}
input {
  &.password-confirm, &.password-field {
    width: 16em;
    margin-bottom: 0.4em;
  }
}

div {
  &.password-confirm {
    float: right; // LTR
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
  }
  &.form-item div.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    width: 38.5em;
    border: 1px solid #B4B4B4;
  }
  &.password-suggestions ul {
    margin-bottom: 0;
  }
}

.confirm-parent, .password-parent {
  clear: left;  //LTR
  margin: 0;
  width: 36.3em;
}

// markers

span {
  &.ok {
    color: $color-succes1;
  }
  &.error {
    color: $color-error1;
  }
  &.marker {
    background-color: $color-highlight1;
    padding: .1875em .3125em;
    color: $color-white1;
  }
}


// Throbber
.ajax-progress {
  display: inline-block;
  .throbber {
    float: left; // LTR
    position: relative;
    width: 14px;
    height: 18px;
    &:before {
      @extend %iconfont-throbber;
      position: absolute;
      color: $color-highlight1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 14px;
      height: 18px;
      margin: auto;
      @include rotate;
    }
  }
  .message {
    padding-left: 20px;
  }
}

tr .ajax-progress .throbber {
  margin: 0 2px;
}

.ajax-progress-bar {
  width: 16em;
}

// Inline items.

.container-inline {
  div, label {
    display: inline;
  }

  // Fieldset contents always need to be rendered as block.
  .fieldset-wrapper {
    display: block;
  }
}


// Prevent text wrapping.
.nowrap {
  white-space: nowrap;
}

// DVG pagernav

.pagernav {
  border-top: 1px solid $color-border-pri1;
  margin-top: 2.5em;
  padding-top: 2.5em;
}

ul {
  &.pager {
    @extend %clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin: 0 .3125em .3125em 0;
      padding: 0;
      list-style: none;

      a {
        display: block;
        width: auto;
        height: auto;
        line-height: 1;
        padding: .3125em;
        border: 2px solid transparent;
        text-align: center;
        min-width: 1.25em;
        min-height: 2em;
        @include respond-to($bp-width-3) {
          min-width: 2.625em;
          padding: .3125em .625em;
        }
      }

      &.pager-item {
        display: block;

        a {
          background-color: $color-highlight1;
          border-color: $color-highlight1;
          color: $color-white1;
          &:hover,
          &:focus {
            background-color: lighten($color-highlight1, 20%);
            border-color: lighten($color-highlight1, 20%);
          }

        }
      }

      &.pager-current {
        width: auto;
        height: auto;
        line-height: 1;
        padding: .3125em;
        border: 2px solid $color-highlight1;
        color: $color-highlight1;
        min-width: 1.25em;
        min-height: 2em;
        @include respond-to($bp-width-3) {
          min-width: 2.625em;
          padding: .3125em .625em;
        }
      }

      &.pager-first,
      &.pager-last,
      &.pager-previous,
      &.pager-next {
        a {

          &:hover,
          &:focus {
            color: lighten($color-highlight1, 20%);
          }
        }
      }

      &.pager-first,
      &.pager-last {
        //display: none;

        @include respond-to($bp-width-5) {
          display: block;
        }
      }

      &.pager-previous,
      &.pager-next {
        a {
          position: relative;
          text-indent: -9999px;
          overflow: hidden;
          width: 1.375em;
          height: 2em;
          background-color: $color-highlight1;
          border-color: $color-highlight1;
          &:hover,
          &:focus {
            background-color: lighten($color-highlight1, 20%);
            border-color: lighten($color-highlight1, 20%);
          }

          &:before {
            @extend %iconfont-chevron;
            position: absolute;
          }
          @include respond-to($bp-width-3) {
            min-width: 2.625em;
            padding: .3125em .625em;
            text-indent: 0;
            overflow: visible;
            width: auto;
            height: auto;
            border-color: transparent;
            background-color: transparent;
            &:hover,
            &:focus {
              background-color: transparent;
              border-color: transparent;
            }
          }
        }
      }

      &.pager-previous {
        a {
          &:before {
            left: 0;
            @include transform;
          }
        }
      }

      &.pager-next {
        a {
          &:before {
            right: 0;
          }
        }
      }
    }
  }
}
// end new pager



// skip links for accessibility
// element-invisible and element-focusable make it hidden and focusable.

.skip-links {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    position: fixed;
    z-index: 99999;
    top: 2em;
    left: .5em;
    right: .5em;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .skip-link {
    display: inline-block;
    padding: 1em 1.5em;
    font-weight: bold;
    text-decoration: none;
    border: 0.2em solid;
    background-color: rgba($color-white1, .95);
    outline: 0;
    border-radius: .1em;
    box-shadow: 0 0 5px 0 $color-black1;
  }
}