//------------------------------------------------------------------------------
// Element: drupal tabs
//------------------------------------------------------------------------------

.tabs {
  margin: 1em 0;
  padding: 0;

  a {
    display: block;
    color: $color-tabs2;
    border: 1px solid $color-tabs2;
    border-bottom: 0 solid;
    padding: 0.5em 1em;
    &.active {
      background-color: lighten($color-tabs2, 60%);
    }
    &:focus,
    &:hover {
      color: $color-white1;
      background-color: $color-tabs2;
    }
    &:active {
      color: $color-white1;
      background-color: darken($color-tabs2, 20%);
    }

    @include respond-to($bp-width-3) {
      border: 1px solid $color-tabs2;
    }
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
    &:last-child {
      a {
        border-bottom: 1px solid $color-tabs2;
      }
    }

    @include respond-to($bp-width-3) {
      display: inline-block;
      margin-right: .7em;
    }
  }

  &.primary {

    a {
      color: $color-tabs1;
      border: 1px solid $color-tabs1;
      border-bottom: 0 solid;

      &.active {
        background-color: lighten($color-tabs1, 60%);
      }
      &:focus,
      &:hover {
        color: $color-white1;
        background-color: $color-tabs1;
      }
      &:active {
        color: $color-white1;
        background-color: darken($color-tabs1, 20%);
      }

      @include respond-to($bp-width-3) {
        border: 1px solid $color-tabs1;
        border-bottom-width: 3px;
      }
    }

    li {
      &:last-child {
        a {
          border-bottom: 1px solid $color-tabs1;

          @include respond-to($bp-width-3) {
            border-bottom-width: 3px;
          }
        }
      }
    }
  }
}