.media-element-container {
  margin: 0 0 1em;
  max-width: 830px;

  img {
    margin-bottom: 0.3em;
  }
  .field {
    display: inline-block;
    padding: 0 1em;

    .field-label {
      margin-right: 0.2em;
    }
    div {
      display: inline-block;
      margin: 0;
    }
  }
  @include respond-to($bp-width-2) {
    img {
      margin-bottom: 0;
    }
  }
}