.webform-previous.form-submit {
}

.webform-next.form-submit {
  float: right;
}

table.webform-grid {
  width: auto;

  td {
    padding: 0.3em 0;
    vertical-align: top;
  }
}

table.webform-grid
table.webform-grid th.webform-grid-option,
table.webform-grid .webform-grid-question {
  padding-right: 2em;
}

.progressbar {
  @extend %clearfix;

  background-color: $color-white1;
  border-bottom: 2px solid;
  border-color: $color-black1;
  border-top: 2px solid;
  display: block;

  height: auto;
  margin-bottom: 30px;
  padding: 10px 15px 5px;
  text-align: left;

  width: 100%;

  li {
    background: none;
    border: none;
    display: inline-block;
    height: auto;

    margin: 0 15px 5px 0;
    position: relative;
    width: auto;

    &:after {
      @extend %iconfont-chevron;
      position: absolute;
      width: 10px;
      font-size: 10px;
      right: -15px;
      top: 3px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    .label {
      margin: 0;
      position: relative;
      top: 0;
    }
    &.current {
      background: none;
      font-weight: 600;

      .label {
        border-bottom: 2px solid;
      }
    }
  }
}

@include respond-to($bp-width-4) {
  .progressbar {
    background: none;
    border-bottom: none;
    border-top: none;

    display: table;

    margin-bottom: 1EM;
    padding: 0;
    width: 100%;

    li {
      border-bottom: 1px solid $color-black1;
      border-top: 1px solid $color-black1;
      display: table-cell;
      line-height: 2;
      margin: 0;
      padding: 0 13px 0 23px;
      text-align: center;

      width: auto;

      &:after {
        background: none;
        border-color: transparent transparent transparent $color-white1;
        border-style: solid;

        border-width: 1.1em 0 1.1em 14px;
        content: '';
        height: 0;
        position: absolute;
        right: -12px;
        top: -1px;
        -moz-transform: scale(.9999);
        width: 0;
      }
      .label {
        display: block;

        &:after {
          background: none;
          border-color: transparent transparent transparent $color-black1;
          border-style: solid;
          border-width: 1.1em 0 1.1em 14px;
          content: '';
          height: 0;
          position: absolute;
          right: -26px;
          top: -1px;
          -moz-transform: scale(.9999);
          width: 0;
        }
      }
      &:first-child {
        border-left: 1px solid $color-black1;
        padding-left: 13px;
      }
      &:last-child {
        border-right: 1px solid $color-black1;

        &:after {
          display: none;
        }
        .label {
          &:after {
            display: none;
          }
        }
      }
      &.current {
        font-weight: bold;
        background: $color-black1;
        color: $color-white1;

        &:after {
          border-color: transparent transparent transparent $color-black1;
        }
        .label {
          border-bottom: none;
        }
      }
      &.completed {
        z-index: 1;
      }
    }
  }
}

.webform-container-inline {
  label {
    display: inline-block;
    width: 14em;
  }

  & > div,
  & > input {
    max-width: 18em;
  }
}
